.modalopen{
    overflow: hidden;
    padding-right: 17px;
}

#loadingPage {
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 9999;
    text-align: center;
    font-size: 75px;
    cursor: wait;
    /*            background-color: rgba(0,0,0,0.5);*/
    display: none;
}
.modalopen #loadingPage{
    display: block;
}

.gallerian img{
    width: 366px;
    height: 299px;
    object-fit: cover;
}
.popover-content{
    min-width: 160px;
}



#loadingPage>img{
    position: fixed;
    display: inline-block;
    margin: 0 auto;
    top: 50%;
    top: calc(50% - 100px);
    left: 50%;
    left: calc(50% - 100px);
}
.wrap_tir{
    background-color: #4a76a8;
    width: 55px;
    margin: 0 auto;
    position: relative;
    min-height: 22px;
}
.wrap_tir i{
    float: right;
    margin: 4px 6px 0 6px;
}
.new_inp{
    width: 35px;
    background-color: transparent;
    color: #fff;
    border: none;
    text-align: center;
    padding: 0 3px 0 0;
    height: 22px;
    float: left;
}
.new_inp:focus{
    border: none;
    outline: none;
    color: #333;
}
/*
    .new_inp:active{
        border: none;
        outline: none;
        color: #333;
    }
*/
.new_i{
    cursor: pointer;
}
.new_ul{
    display: none;
    position: absolute;
    top: 22px;
    list-style-type: none;
    background-color: #fff;
    border:1px solid #f2f2f2;
    color: #333;
    width: 55px;
    padding: 0;
}
.new_ul li{
    width: 55px;
}
.new_ul li:hover{
    background-color: #4a76a8;
    color: #fff;
    cursor: pointer;
}