	body{
		font-family: Calibri, Arial, Helvetica, sans-serif;
		color: #333;
	}


/* 1 Typography
----------------------------------------------------------------------------- */

	.modalopen{
		overflow: hidden;
		padding-right: 17px;
	}

	#loadingPage {
		top: 0;
		left:0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 9999;
		text-align: center;
		font-size: 75px;
		cursor: wait;
		/*            background-color: rgba(0,0,0,0.5);*/
		display: none;
	}
	.modalopen #loadingPage{
		display: block;
	}
	#loadingPage>img{
		position: fixed;
		display: inline-block;
		margin: 0 auto;
		top: 50%;
		top: calc(50% - 100px);
		left: 50%;
		left: calc(50% - 100px);
	}

	.block_img_error{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -8px;
		margin-left: -8px;
		-webkit-animation: animate_block_number_error 1s infinite ease-in-out;
		-moz-animation: animate_block_number_error 1s infinite ease-in-out;
		animation: animate_block_number_error 2s infinite ease-in-out;
	}
	.block_number_error{
		-webkit-animation: animate_block_number_error_2 1s infinite ease-in-out;
		-moz-animation: animate_block_number_error_2 1s infinite ease-in-out;
		animation: animate_block_number_error_2 2s infinite ease-in-out;
	}
	@-webkit-keyframes animate_block_number_error {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 0;
		}
		30% {
			opacity: 0;
		}
		35% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
		}
		45% {
			opacity: 1;
		}
		50% {
			opacity: 1;
		}
		55% {
			opacity: 1;
		}
		60% {
			opacity: 0.5;
		}
		65% {
			opacity: 0.3;
		}
		70% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@-moz-keyframes animate_block_number_error {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 0;
		}
		30% {
			opacity: 0;
		}
		35% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
		}
		45% {
			opacity: 1;
		}
		50% {
			opacity: 1;
		}
		55% {
			opacity: 1;
		}
		60% {
			opacity: 0.5;
		}
		65% {
			opacity: 0.3;
		}
		70% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes animate_block_number_error {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 0;
		}
		30% {
			opacity: 0;
		}
		35% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
		}
		45% {
			opacity: 1;
		}
		50% {
			opacity: 1;
		}
		55% {
			opacity: 1;
		}
		60% {
			opacity: 0.5;
		}
		65% {
			opacity: 0.3;
		}
		70% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	@-webkit-keyframes animate_block_number_error_2 {
		0% {
			opacity: 1;
		}
		5% {
			opacity: 1;
		}
		10% {
			opacity: 0.8;
		}
		15% {
			opacity: 0.5;
		}
		20% {
			opacity: 0;
		}
		80% {
			opacity: 0;
		}
		85% {
			opacity: 0.5;
		}
		90% {
			opacity: 0.8;
		}
		95% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}
	@-moz-keyframes animate_block_number_error_2 {
		0% {
			opacity: 1;
		}
		5% {
			opacity: 1;
		}
		10% {
			opacity: 0.8;
		}
		15% {
			opacity: 0.5;
		}
		20% {
			opacity: 0;
		}
		80% {
			opacity: 0;
		}
		85% {
			opacity: 0.5;
		}
		90% {
			opacity: 0.8;
		}
		95% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes animate_block_number_error_2 {
		0% {
			opacity: 1;
		}
		5% {
			opacity: 1;
		}
		10% {
			opacity: 0.8;
		}
		15% {
			opacity: 0.5;
		}
		20% {
			opacity: 0;
		}
		80% {
			opacity: 0;
		}
		85% {
			opacity: 0.5;
		}
		90% {
			opacity: 0.8;
		}
		95% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}

	/*
                        .tbody_price tr td{
                            text-align: center;
                        }
                    */
	.table_info_price{
		text-align: left!important;
	}
	.table_info_price_sh{
		text-align: center;
	}
	.table_info_price_sh tbody tr td{
		vertical-align: middle;
	}
	.table_info_price_sh tbody tr td:nth-child(1){
		text-align: left;
	}
	.td_red{
		color: #4a76a8!important;
		font-size: 18px;
	}
	.tbody_price tr td{
		text-align: left;
		padding-left: 15px!important;
	}
	.tbody_price tr td:nth-child(1){
		text-align: left;
	}
	.h_p_t{
		font-size: 22px;
		font-weight: 500;
	}
	.m_p_t{
		background: #f2f2f2;
	}
	.l_gray{
		color: #a2a2a2;
	}
	.td_w8 th{
		width: 7.5%;
		padding: 10px 2px!important;
	}

	.row-info{
		height: 49px;
		margin: 45px 5px 15px 5px;
	}
	.info-1{
		height: 100%;
		width: 49px;
		float: left;
		color: #fff;
		background: #af9723;
		/*            background: #d5b828;*/
		line-height: 49px;
		/*            font-weight: bold;*/
		font-size: 17px;
	}
	.info-2{
		height: 100%;
		width: 1113px;
		float: left;
		background: #ffde00;
		line-height: 49px;
		padding-left: 20px;
		font-size: 18px;
	}
	.inf_in{
		width:30px;
		height:30px;
		border-radius:30px;
		border: 1px solid #fff;
		line-height:28px;
		text-align:center;
		margin-top:9px;
		margin-left:9px;
	}

	.wrap_tir{
		background-color: #4a76a8;
		width: 55px;
		margin: 0 auto;
		position: relative;
		min-height: 22px;
	}
	.wrap_tir i{
		float: right;
		margin: 4px 6px 0 6px;
	}
	.new_inp{
		width: 35px;
		background-color: transparent;
		color: #fff;
		border: none;
		text-align: center;
		padding: 0 3px 0 0;
		height: 22px;
		float: left;
	}
	.new_inp:focus{
		border: none;
		outline: none;
		color: #333;
	}
	/*
    .new_inp:active{
        border: none;
        outline: none;
        color: #333;
    }
*/
	.new_i{
		cursor: pointer;
	}
	.new_ul{
		display: none;
		position: absolute;
		top: 22px;
		list-style-type: none;
		background-color: #fff;
		border:1px solid #f2f2f2;
		color: #333;
		width: 55px;
		padding: 0;
	}
	.new_ul li{
		width: 55px;
	}
	.new_ul li:hover{
		background-color: #4a76a8;
		color: #fff;
		cursor: pointer;
	}

	.pd-xs-10{
		padding-bottom: 10px;
	}
	.pd-top-xs-10{
		padding-top: 10px;
	}
	@media (min-width: 991px) {
		.pd-top-xs-10{
			padding-top: 0;
		}
		.pd-xs-10{
			padding-bottom: 0px;
		}
		.wrapper_select{
			clear: left;
			height: 40px;
			padding-top: 6px;
			width: 80%;
			font-size: 12px;
			font-weight: 500;
		}
		.wrapper_select .chosen-container{
			font-size: 12px;
		}
		.wrapper_select .chosen-container{
			min-width: 95px!important;
		}
		.my-md-1-print{
			width: 20.5%;
			padding-right: 25px;
			padding-left: 25px;
		}

		.my-md-2-print{
			width: 8.5%!important;
			padding-right: 25px;
		}
		.select-md-23 {
			width: 19%;
		}
		.wrapper_select span.text-span{
			line-height: 28px;

		}
		.my-md-3-print{
			width: 9.5%;
			padding-left: 25px;
		}
		.wrapper_select.not_active .text-span{
			opacity: 0.7;
		}
		.count-white{
			padding-left: 30px;
		}
	}


	a, .text-default {
	color: #4a76a8;
}
a:hover,
a:focus {
	color: #4a76a8;
}
mark,
.mark {
	background-color: #4a76a8;
	color: #ffffff;
}
.table > thead > tr > th {
	border-bottom: 1px solid #ffffff;
	background-color: #d9534f;
	color: #fff;
}
.table-bordered {
	border-color: #4a76a8;
}

/* 2 Layout
----------------------------------------------------------------------------- */
.default-bg {
	background-color: #4a76a8;
	color: #ffffff;
}

/* Backgrounds
---------------------------------- */
.default-translucent-bg:after {
	background-color: rgba(232,76,61,0.7);
}

/* 3 Pages
----------------------------------------------------------------------------- */
.blogpost .post-info {
	background-color: #4a76a8;
	color: #fff;
}
.blogpost .side .social-links li a {
	background-color: transparent;
	border-color: transparent;
	color: #4a76a8;
}
.blogpost ul.links li a:hover {
	color: #4a76a8;
}

/* timeline layout */
.timeline-date-label {
	color: #4a76a8;
}
@media (min-width:768px) {
	.timeline .timeline-item:before {
		background-color: #fff;
		border: 1px solid #4a76a8;
	}
}

/* 4 Template Components
----------------------------------------------------------------------------- */
/* Buttons
---------------------------------- */
/* Gray Buttons */
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
	color: #ffffff;
	background-color: #4a76a8;
	border-color: #4a76a8;
}

/* Light Gray Buttons */
.btn-light-gray:hover,
.btn-light-gray:focus,
.btn-light-gray:active,
.btn-light-gray.active,
.open .dropdown-toggle.btn-light-gray {
	color: #ffffff;
	background-color: #4a76a8;
	border-color: #4a76a8;
}

/* Default Buttons */
.btn-default {
	background-color: #4a76a8;
	color: #fff !important;
	border-color: #4a76a8;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: #4a76a8;
	border-color: #4a76a8;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
	background-color: #4a76a8;
	border-color: #4a76a8;
}

/* Button with transparent bg
---------------------------------- */
.btn-white {
	background-color: transparent;
	color: #4a76a8;
	border: 1px solid #4a76a8;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
	color: #fff;
	background-color: #4a76a8;
	border-color: #4a76a8;
}

/* Button background transitions
---------------------------------- */
.hvr-sweep-to-right:before,
.hvr-sweep-to-left:before,
.hvr-sweep-to-bottom:before,
.hvr-sweep-to-top:before,
.hvr-bounce-to-right:before,
.hvr-bounce-to-left:before,
.hvr-bounce-to-bottom:before,
.hvr-bounce-to-top:before,
.hvr-radial-out:before,
.hvr-rectangle-out:before,
.hvr-shutter-out-horizontal:before,
.hvr-shutter-out-vertical:before {
	background: #4a76a8;
}

/* Forms
---------------------------------- */
.default-bg .form-control {
	border-color: #4a76a8;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
	color: #ffffff;
}
.default-bg .form-control:focus {
	border-color: #4a76a8;
	background-color: rgba(0, 0, 0, 0.25);
}
.default-bg .input-group-addon {
	background-color: #4a76a8;
	border-color: #4a76a8;
	color: #fff;
}
.dropdown .active>a>.badge,
.dropdown a:hover .badge,
.dropdown .open > a > .badge {
	border-color: #4a76a8;
}

/* Pager
---------------------------------- */
ul.pagination li > a:hover {
	background-color: transparent;
	color: #ffffff;
	background-color: #4a76a8;
	border-color: #4a76a8;
}
ul.pagination li.active a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
	color: #ffffff;
	background-color: #4a76a8;
	border-color: #4a76a8;
}

/* Tabs
---------------------------------- */
.nav-tabs > li.active > a:after {
	background-color: #4a76a8;
}
.tab-content:after {
	background-color: #4a76a8;
}
@media (max-width:480px) {
	.nav-tabs > li > a:hover:after {
		background-color: #4a76a8;
	}
}

/* Horizontal tabs version 2 */
.tabs-style-2 .nav-tabs {
	border-bottom: 1px solid #4a76a8;
}
.tabs-style-2 .nav-tabs > li.active > a,
.tabs-style-2 .nav-tabs > li.active > a:hover,
.tabs-style-2 .nav-tabs > li.active > a:focus,
.tabs-style-2 .nav-tabs > li > a:hover {
	border: 1px solid #4a76a8;
	background-color: #4a76a8;
	color: #fff;
}
/*----------*/
.tabs-style-3 .nav-tabs > li .menu_element{
	border: 1px solid #4a76a8;
	background-color: #4a76a8;
	color: #fff;
	cursor: pointer;

	margin: 0 2.5px;
}
.head-menu {
	float: right;
	padding-top: 10px;
	margin-bottom: 10px;
}

/*border bottom none nav-tabs*/
.tabs-style-3 > .nav-tabs {
	border-bottom: none!important;
	box-shadow: none;
}



.tabs-style-3 .nav-tabs > li .menu_element:hover{
	background-color: #3d6898;
}


.tabs-style-3 .nav-tabs > li.selected-product a.menu_element{
	background-color: #224b7a;
}
.submenu-title h4 {
	margin-bottom: 0;
	color: #4a76a8;
}
.list-popular-product{
	border-top: 1px solid #4a76a8;
	border-bottom: 1px solid #4a76a8;
	margin-bottom: 10px;
	padding: 15px 0;
}
.list-popular-product ul{
	list-style-position: inside;
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	list-style-type:none;
	min-height:100px;
	padding-left: 0;
	width: 80%;
	}

	.popular-product {
		display: block;
		margin-bottom: 5px;
		color: #333;
		font-size: 22px;
		font-weight: 500;
	}
	.breadcrumbs-block {
		margin-bottom: 10px;
	}

	.head-menu ul{
		border-bottom: none;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.head-menu ul>li>a{

		background-color: #f2f2f2;
		color: #224b7a;
		margin: 0 2.5px;

		border-radius: 45px;
		border: 1px solid #224b7a;
		-webkit-transition: 0.3s linear;
		transition: 0.3s linear;
		text-transform: none;

	}
	.head-menu ul>li>a:hover{


		background-color: #224b7a;

		color: #ffffff;
		-webkit-transition: 0.3s linear;
		transition: 0.3s linear;
	}
	.list-popular-product ul li>a{
		padding: 3px 10px;
		min-width: 60px;
		display: block;
		text-align: center;
		width: 180px;
		vertical-align: middle;
	}
	.list-popular-product ul li>a:hover{
		background: #e1e5eb;
		color: #4a76a8;
	}

	.list-popular-products {
		display: block;
		width: 100%;
		height: auto;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.popular-link-column ul>li>a {
		padding: 3px 10px;
		font-size: 13px;
		color: #4a76a8;
	}
	.popular-link-column ul>li>a:hover {
		background: #e1e5eb;
		text-decoration: underline;
	}

	.col-md-2.popular-link-column:first-child {
		padding-left: 0;
	}
	.col-md-2.popular-link-column:last-child{
		padding-right: 0;
	}


	/*---*/
	@media (min-width: 991px){
		.lam-digital-block>.left-filter {
			height: 225px;
		}}
	@media (min-width: 1200px){
		.lam-digital-block>.left-filter {
			height: 180px;
		}
	}

	.pd-xs-10{
		padding-bottom: 10px;
	}
	.pd-top-xs-10{
		padding-top: 10px;
	}
	@media (min-width: 991px) {
		.pd-top-xs-10{
			padding-top: 0;
		}
		.pd-xs-10{
			padding-bottom: 0px;
		}
		.wrapper_select{
			clear: left;
			height: 40px;
			padding-top: 6px;
			width: 80%;
			font-size: 12px;
			font-weight: 500;
		}
		.wrapper_select .chosen-container{
			font-size: 12px;
		}
		.wrapper_select .chosen-container{
			min-width: 95px!important;
		}
		.my-md-1-print{
			width: 20.5%;
			padding-right: 25px;
			padding-left: 25px;
		}

		.my-md-2-print{
			width: 8.5%!important;
			padding-right: 25px;
		}
		.select-md-23 {
			width: 19%;
		}
		.wrapper_select span.text-span{
			line-height: 28px;

		}
		.my-md-3-print{
			width: 9.5%;
			padding-left: 25px;
		}
		.wrapper_select.not_active .text-span{
			opacity: 0.7;
		}
		.count-white{
			padding-left: 30px;
		}
	}


/*------------*/

.tab-style-3 .nav-tabs > li > a{

}


/* vertical tabs */
.vertical .nav-tabs > li > a:hover:after {
	background-color: #4a76a8;
}

/* Nav pills
---------------------------------- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	border: 1px solid #f3f3f3;
	color: #4a76a8;
	background-color: #fafafa;
}
.nav-pills > li.active > a:after {
	color: #4a76a8;
}
.nav-pills > li.active > a:hover:after,
.nav-pills > li.active > a:focus:after,
.nav-pills > li > a:hover:after,
.nav-pills > li > a:focus:after {
	color: #4a76a8;
}
.light .footer-content .nav-pills > li.active > a:hover,
.light .footer-content .nav-pills > li > a:hover {
	color: #4a76a8;
}
.nav-pills > .active > a > .badge {
	color: #4a76a8;
	background-color: #fff;
	border-color: #4a76a8;	
}

/* Collapse
---------------------------------- */
.panel-heading a {
	background-color: #4a76a8;
	color: #ffffff;
}
.panel-heading a:hover,
.panel-transparent .panel-heading a:hover {
	background-color: #4a76a8;
	color: #ffffff;
}

/* Progress bars
---------------------------------- */
.progress-bar-default {
	background-color: #4a76a8;
}

/* Modals
---------------------------------- */
.modal-content .modal-header {
	background-color: #4a76a8;
}

/* Images and Images overlay
---------------------------------- */
.overlay a {
	color: #4a76a8;
	background-color: #ffffff;
}
.overlay-links a + a {
	color: #ffffff;
	background-color: #4a76a8;
}
a.overlay i {
	color: #4a76a8;
}

/* 5 Navigations
----------------------------------------------------------------------------- */
/* first level active menu items on hover/focus */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	color: #4a76a8;
	background-color: transparent;
}

.main-navigation .navbar-nav > .open > a, 
.main-navigation .navbar-nav > .open > a:hover, 
.main-navigation .navbar-nav > .open > a:focus { 
	color: #666666; 
	background-color: #fafafa; 
}

/* second level menu items on focus/hover and when opened */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu .menu > .active > a,
.dropdown-menu .menu > .active > a:hover,
.dropdown-menu .menu > .active > a:focus {
	background-color: #ffffff;
	color: #4a76a8;
	border-color: #f1f1f1;
}
#offcanvas .nav .open > a,
#offcanvas .nav .open > a:hover,
#offcanvas .nav .open > a:focus,
#offcanvas .nav > li > a:hover, 
#offcanvas .nav > li > a:focus,
#offcanvas .navbar-nav > li.active > a {
	color: #4a76a8;
	background-color: #ffffff;
}

/* mega menu menu items on focus/hover and when opened */
.mega-menu .menu > li > a:hover,
.mega-menu .menu > li > a:focus {
	background-color: #ffffff;
	color: #4a76a8;
	border-color: #f1f1f1;
}

/* arrows for parent menu items */
.navbar-default .navbar-nav > .active.dropdown > a:before {
	color: #4a76a8;
}
.navbar-default .navbar-nav > .dropdown.open > a:before { 
	color: #e5e5e5; 
}
.dropdown .dropdown.open>a:before,
.transparent.header:not(.dark) .dropdown .dropdown.open>a:before {
	color: #4a76a8;
}

/* mobile menu toggle button on hover/focus */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fafafa;
	border-color: #4a76a8;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #4a76a8;
}
@media (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { 
		color: #4a76a8; 
		background-color: transparent; 
	}
	
	/* first level items hover and focus states */
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #4a76a8;
		background-color: #fff;
	}
	
	/* second level items on hover/focus */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #4a76a8;
	}
}

/* Subfooter navigation
---------------------------------- */
.subfooter .navbar-default .nav > li > a:hover,
.subfooter .navbar-default .nav > .active > a:hover,
.subfooter .navbar-default .nav > .active > a:focus {
	background-color: transparent;
	color: #4a76a8;
}

/* 6 Blocks/Widgets
----------------------------------------------------------------------------- */
/* Boxes
---------------------------------- */
.box.gray-bg:hover {
	color: #4a76a8;
}
.box.default-bg:hover {
	background-color: #fff;
	border: 1px solid #4a76a8;
}
.box.default-bg:hover * {
	color: #4a76a8;
}
.box-style-1:not(.team-member):hover i {
	color: #4a76a8;
}
.box-style-1.default-bg:hover i, 
.box-style-1.dark-bg:hover i {
	color: inherit;
}
.box-style-2:hover .default-bg {
	background-color: #fff;
	border: 1px solid #4a76a8;
}
.box-style-2:hover .default-bg * {
	color: #4a76a8;
}
.box-style-2:hover .white-bg * {
	color: #4a76a8;
}
.box-style-3:hover .default-bg {
	background-color: #fff;
	border: 1px solid #4a76a8;
}
.box-style-3:hover .default-bg * {
	color: #4a76a8;
}
.box-style-3:hover .white-bg * {
	color: #4a76a8;
}

/* Tags cloud block
---------------------------------- */
.tag a:hover {
	color: #ffffff;
	background-color: #4a76a8;
	border-color: #4a76a8;
}

/* Social icons block
---------------------------------- */
.social-links li a {
	background: #4a76a8;
	border: 1px solid #4a76a8;
	color: #fff;
}
.social-links li a:hover {
	background-color: transparent;
	border-color: #4a76a8;
	color: #4a76a8;
}
.social-links .dropdown.open>button>i:before {
	content: "\f00d";
	color: #4a76a8;
}
.header-top .social-links li a:hover {
	color: #4a76a8;
}

/* search and login
---------------------------------- */
.header-top-dropdown .dropdown.open>button,
.header-top-dropdown .dropdown>button:hover {

	color: #4a76a8;
}

/* Pricing tables
---------------------------------- */
.plan .popover-title {
	background-color: #4a76a8;
	color: #ffffff;
}
.gray .plan .header h3 {
	color: #4a76a8;
}
.white .plan .header {
	color: #fff;
	background: #4a76a8;
}
.stripped .header {
	background: #4a76a8;
	-webkit-box-shadow: 0px 0px 60px #4a76a8 inset;
	-moz-box-shadow: 0px 0px 60px #4a76a8 inset;
	box-shadow: 0px 0px 60px #4a76a8 inset;
	color: #fff;
}

/* 7 Main Slideshow
----------------------------------------------------------------------------- */
/* Slider Revolution captions */
.default_bg {
	background-color: #4a76a8;
	color: #fff;
}

/* Revolution Nav Controls */
.tparrows.round:hover {
	color: #ffffff;
	background-color: #4a76a8;
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
	background-color: #4a76a8;
}
.tp-bannertimer {
	background-color: rgba(232,76,61,0.7);
}

/* 8 Owl carousel
----------------------------------------------------------------------------- */
.owl-prev {
	background-color: #4a76a8;
	color: #f1f1f1;
}
.owl-next {
	background-color: #f1f1f1;
	color: #4a76a8;
}
.content-slider-with-controls .owl-buttons div,
.content-slider-with-controls-autoplay .owl-buttons div {
	background-color: #4a76a8;
	color: #f1f1f1;
}
.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
	background-color: #f1f1f1;
	color: #4a76a8;
}
.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
	background: #4a76a8;
}
.table_sborka > thead > tr > th, .table_sborka > tbody > tr > th, .table_sborka > tfoot > tr > th, .table_sborka > thead > tr > td, .table_sborka > tbody > tr > td, .table_sborka > tfoot > tr > td {
		border-top: none; 
	}
.calculate{text-align:center;width:12%;}
.calculate:hover{
	background-color: #d9534f;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.calculate:hover a{
	color: white;
}
.tirazh{
	display:inline; 
	border: 1px solid #eee;
	font-weight: 700;
    padding: 5px 0;
    text-align: center;
    width: 45px;
	font-size:14px;
}
.rm, a#newdel{ cursor:pointer;}
/*------foter to down*/
html,body{
   min-height: 100% !important;
}
body{
  position: relative;
}
#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

	.pd-xs-10{
		padding-bottom: 10px;
	}
	.pd-top-xs-10{
		padding-top: 10px;
	}
	@media (min-width: 991px) {
		.pd-top-xs-10{
			padding-top: 0;
		}
		.pd-xs-10{
			padding-bottom: 0px;
		}
		.wrapper_select{
			clear: left;
			height: 40px;
			padding-top: 6px;
			width: 80%;
			font-size: 12px;
			font-weight: 500;
		}
		.wrapper_select .chosen-container{
			font-size: 12px;
		}
		.wrapper_select .chosen-container{
			min-width: 95px!important;
		}
		.my-md-1-print{
			width: 20.5%;
			padding-right: 25px;
			padding-left: 25px;
		}

		.my-md-2-print{
			width: 8.5%!important;
			padding-right: 25px;
		}
		.select-md-23 {
			width: 19%;
		}
		.wrapper_select span.text-span{
			line-height: 28px;

		}
		.my-md-3-print{
			width: 9.5%;
			padding-left: 25px;
		}
		.wrapper_select.not_active .text-span{
			opacity: 0.7;
		}
		.count-white{
			padding-left: 30px;
		}
	}
	.header-load-side {
		font-size: 19px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	.gallerian img{
		width: 366px;
		height: 299px;
		object-fit: cover;
	}
	.popover-content{
		min-width: 160px;
	}




	 .wrap_tir{
		 background-color: #4a76a8;
		 width: 55px;
		 margin: 0 auto;
		 position: relative;
		 min-height: 22px;
	 }
	.wrap_tir i{
		float: right;
		margin: 4px 6px 0 6px;
	}
	.new_inp{
		width: 35px;
		background-color: transparent;
		color: #fff;
		border: none;
		text-align: center;
		padding: 0 3px 0 0;
		height: 22px;
		float: left;
	}
	.new_inp:focus{
		border: none;
		outline: none;
		color: #333;
	}
	/*
        .new_inp:active{
            border: none;
            outline: none;
            color: #333;
        }
    */
	.new_i{
		cursor: pointer;
	}
	.new_ul{
		display: none;
		position: absolute;
		top: 22px;
		list-style-type: none;
		background-color: #fff;
		border:1px solid #f2f2f2;
		color: #333;
		width: 55px;
		padding: 0;
	}
	.new_ul li{
		width: 55px;
	}
	.new_ul li:hover{
		background-color: #4a76a8;
		color: #fff;
		cursor: pointer;
	}

	/*
	menu blocks of product
	*/
	.block-produkt-labels {
		display: block;
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-bottom: 23px;
	}
	.label-product {
		border: 1px solid #4a76a8;
		background-color: #4a76a8;
		color: #fff;
		cursor: pointer;
		margin: 0 2.5px;
		padding: 12px 19px;
		vertical-align: middle;
		text-transform: uppercase;
		display: block;
		text-align: center;
		margin: 0;
		min-height: 69px
	}
	a.label-product:hover{
		background-color: #3d6898;
		text-decoration: none;
		color: #ffffff;
		/*-webkit-box-shadow: 0px 0px 23px 2px rgba(61,104,152,1);
		-moz-box-shadow: 0px 0px 23px 2px rgba(61,104,152,1);
		box-shadow: 0px 0px 23px 2px rgba(61,104,152,1);*/
	}


	.info-link{
		display: block;
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: 20px;
		overflow: hidden;
	}
	.info-link p{
		display: inline-block;
	}
	.info-link p:first-child{
		padding-right: 30px;
	}

	.pd-left-30 {
		padding-left: 30px;
	}
	.pd-left-40 {
		padding-left: 40px!important;
	}
	.pd-right-40 {
		padding-right: 40px!important;
	}
	.pd-rt-0{
		padding-right: 0;
	}


	.tabs-style-2 .mini_padding > li > a {
		padding: 12px 19px;
		font-size: 14px;
		color: #333;
	}

	.custom-input{}
	.custom-input::-webkit-input-placeholder {color: #bfbfbf;}
	.custom-input::-moz-placeholder          {color:#bfbfbf;}/* Firefox 19+ */
	.custom-input:-moz-placeholder           {color:#bfbfbf;}/* Firefox 18- */
	.custom-input:-ms-input-placeholder      {color:#bfbfbf;}

/* -- polycarbonat*/
	.modalopen{
		overflow: hidden;
		padding-right: 17px;
	}

	#loadingPage {
		top: 0;
		left:0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 9999;
		text-align: center;
		font-size: 75px;
		cursor: wait;
		/*            background-color: rgba(0,0,0,0.5);*/
		display: none;
	}
	.modalopen #loadingPage{
		display: block;
	}
	#loadingPage>img{
		position: fixed;
		display: inline-block;
		margin: 0 auto;
		top: 50%;
		top: calc(50% - 100px);
		left: 50%;
		left: calc(50% - 100px);
	}

	.wrap_tir{
		background-color: #4a76a8;
		width: 55px;
		margin: 0 auto;
		position: relative;
		min-height: 22px;
	}
	.wrap_tir i{
		float: right;
		margin: 4px 6px 0 6px;
	}
	.new_inp{
		width: 35px;
		background-color: transparent;
		color: #fff;
		border: none;
		text-align: center;
		padding: 0 3px 0 0;
		height: 22px;
		float: left;
	}
	.new_inp:focus{
		border: none;
		outline: none;
		color: #333;
	}
	/*
        .new_inp:active{
            border: none;
            outline: none;
            color: #333;
        }
    */
	.new_i{
		cursor: pointer;
	}
	.new_ul{
		display: none;
		position: absolute;
		top: 22px;
		list-style-type: none;
		background-color: #fff;
		border:1px solid #f2f2f2;
		color: #333;
		width: 55px;
		padding: 0;
	}
	.new_ul li{
		width: 55px;
	}
	.new_ul li:hover{
		background-color: #4a76a8;
		color: #fff;
		cursor: pointer;
	}.gallerian img{
		 width: 366px;
		 height: 299px;
		 object-fit: cover;
	 }
	.popover-content{
		min-width: 160px;
	}
	/*---end*/

	.wrap_tir{
		background-color: #4a76a8;
		width: 55px;
		margin: 0 auto;
		position: relative;
		min-height: 22px;
	}
	.wrap_tir i{
		float: right;
		margin: 4px 6px 0 6px;
	}
	.new_inp{
		width: 35px;
		background-color: transparent;
		color: #fff;
		border: none;
		text-align: center;
		padding: 0 3px 0 0;
		height: 22px;
		float: left;
	}
	.new_inp:focus{
		border: none;
		outline: none;
		color: #333;
	}
	/*
        .new_inp:active{
            border: none;
            outline: none;
            color: #333;
        }
    */
	.new_i{
		cursor: pointer;
	}
	.new_ul{
		display: none;
		position: absolute;
		top: 22px;
		list-style-type: none;
		background-color: #fff;
		border:1px solid #f2f2f2;
		color: #333;
		width: 55px;
		padding: 0;
	}
	.new_ul li{
		width: 55px;
	}
	.new_ul li:hover{
		background-color: #4a76a8;
		color: #fff;
		cursor: pointer;
	}

    .gallerian img{
        width: 366px;
        height: 299px;
        object-fit: cover;
    }
    .popover-content{
        min-width: 160px;
    }