<!---------МОДАЛЬНОЕ ОКНО МАТЕРИАЛОВ БУМАГА------------->
<div class="modal fade" id="info_material_paper" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Материалы
                </h4>
            </div>
            <div class="modal-body">
                <!--
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-right:0;">
                                        <a href="cside/img/wide.png" class="zoom"><img class="im_z" src="cside/img/wide.png" alt=""></a>
                                        <div class="zoom-block" style="position:relative;z-index:999"></div>
                                    </div>
                                </div>
                            </div>
                -->
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/7_1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/5.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/68955781_w640_h2048_bluebackduvis.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/blueback/blueb.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#paper_1_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="paper_1_1">
                                    <p class="text_head"><strong>Бумага для афиш BlueBack</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования. <br>
                                        Белая бумага с обратной голубой стороной.<br>
                                        Применяется для афиш, плакатов, ситилайтов, билбордов<br><br>
                                        Светонепроницаема, устойчива к атмосферным воздействиям, не боится влаги.<br><br>
                                        Плотность: 120 г/м<sup>2</sup><br>
                                        Толщина: 0,12 мкрн<br>
                                        Размеры рулона: 1,56 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/paper/city/new.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/5.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/6.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/bumaga2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/citylight.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/paper/city/fd325ea56f27.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#paper_2_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="paper_2_1">
                                    <p class="text_head"><strong>Бумага для постеров CityLight</strong></p>
                                    <p class="fz15">
                                        Для внутреннего использования. <br>
                                        Белая, микропористая бумага с сатиновым покрытием.<br>
                                        Применяется для постеров, плакатов, ситилайтов.<br><br>
                                        Работает на просвет,  боится влаги.<br><br>
                                        Плотность: 135 г/м<sup>2</sup>, 150 г/м<sup>2</sup>, 200 г/м<sup>2</sup><br>
                                        Толщина: 0,13 мкрн, 0,15 мкрн, 0,2 мкрн<br>
                                        Размеры рулона: 1,6 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
