/* Give the image 3px of space to breathe. */
.sizes-select .chosenImage-container .chosen-results li:not(.group-result),
.sizes-select .chosenImage-container .chosen-single span, .select-with-ico  .chosenImage-container .chosen-results li:not(.group-result),.select-with-ico  .chosenImage-container .chosen-single span{
    padding-left: 10px!important;
    height: 40px;
    line-height: 30px;
}

.sizes-select .chosen-container-active .chosen-single, .select-with-ico .chosen-container-active .chosen-single{
    border-bottom: 1px solid #ccc;
}
.sizes-select .chosen-container-single .chosen-drop, .select-with-ico .chosen-container-single .chosen-drop{
    margin-top: 0px;
    
}
.sizes-select .chosen-container .chosen-results, .select-with-ico .chosen-container .chosen-results{
    max-height: 285px!important;
    padding-left: 0.5px;
    margin-right: 0.3px;
}
.sizes-select .chosen-container-single .chosen-single div b, .select-with-ico .chosen-container-single .chosen-single div b{
    display: block;
    width: 77%;
    height: 100%;
    background: url(http://sborka.ua/js/chosen/chosen-sprite.png) 0px 10px no-repeat;
}
.sizes-select .chosen-container-active.chosen-with-drop .chosen-single div b, .select-with-ico .chosen-container-active.chosen-with-drop .chosen-single div b{
    background-position: -18px 10px;
}

.sizes-select .active-result.result-selected.highlighted,.sizes-select .active-result.highlighted, .select-with-ico .active-result.highlighted, .select-with-ico .active-result.result-selected.highlighted{
    color: #fff;
    background-color: #4a76a8!important;
}
/* Make the image fit nicely to the left of the dropdown. */
.sizes-select .chosenImage-container .chosen-single , .select-with-ico .chosenImage-container .chosen-single{
  padding-left: 0px;
}
.sizes-select .chosen-container-single .chosen-single, .select-with-ico .chosen-container-single .chosen-single{
    height: 40px;
}

/* Let the "No results match" text fill the whole width. */
.chosenImage-container .chosen-results .no-results {
  padding-left: inherit;
}

/**
 * Image Select Styles
 *
 * @author     Web Semantics, Inc. Dev Team <info@websemantics.ca>
 * @copyright  2011-2015 Web Semantics, Inc.
 * @link       http://websemantics.ca
 * @license    https://opensource.org/licenses/MIT
 */

/* Tag image */
.chose-image-small,.chose-image-list,.chose-image {
	display:inline-block;
    width: 45px;
    height: 30px;
    margin-right: 10px;
}
.sizes-select .chosen-container-single .chosen-single span,.sizes-select .chosen-container .chosen-results li {
	line-height: 30px;
}
/* Grey-out image for Multi mode */
.chosen-container-multi .result-selected img {
	opacity: 0.3;
}
