<div class="col-xs-12 mobile-droped">
    <div class="row cont-control">

        <div class="t_greyblock clearfix plot-block new-price-filter">
            <div class="left-filter clearfix material-filter>">
                <div class="t_switchable first left-filter-switch">
                    <input name="selectall" id="selectall" value="1" type="checkbox" class="select-all-btn hidden" disabled="">
                    <label class="t_plot text-left" for="selectall">
                        <span class="filter-name">Материал</span></label>
                </div>
            </div>
            <div class="right-filter clearfix">


                <div class="t_switchable">
                    <input name="m[]" value="163" id="m_163" type="checkbox" class="inpcheck-mat select-mat" data-density="163">
                    <label class="t_plot" for="m_163" data-toggle="tooltip" data-content="Самоклеящаяся бумага<br>Raflatak с просечками "><span class="filter-name">Raflatak<br>с просечками</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="70" id="m_70" type="checkbox" class="inpcheck-mat select-mat" data-density="70">
                    <label class="t_plot" for="m_70" data-toggle="tooltip" data-content="Крафт бумага<br>70 г/м<sup>2</sup>" data-original-title="" title=""><span class="filter-name">Крафт<br>70</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="80" id="m_80" type="checkbox" class="inpcheck-mat select-mat" data-density="80">
                    <label class="t_plot" for="m_80" data-toggle="tooltip" data-content="Офсетная бумага<br>80 г/м<sup>2</sup>" data-original-title="" title=""><span class="filter-name">Офсет<br> 80</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="116" id="m_116" type="checkbox" class="inpcheck-mat select-mat" data-density="116">
                    <label class="t_plot" for="m_116" data-toggle="tooltip" data-content="Мелованная матовая бумага<br>115 г/м<sup>2</sup>"><span class="filter-name">Мел МАТ<br>115</span></label>
                </div>

                <div class="t_switchable break-line-md">
                    <input name="m[]" value="90" id="m_90" type="checkbox" class="inpcheck-mat select-mat" data-density="90">
                    <label class="t_plot" for="m_90" data-toggle="tooltip" data-content="Мелованная глянцевая бумага<br>90 г/м<sup>2</sup>"><span class="filter-name">Мел ГЛ<br>90</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="115" id="m_115" type="checkbox" class="inpcheck-mat select-mat" data-density="115">
                    <label class="t_plot" for="m_115" data-toggle="tooltip" data-content="Мелованная глянцевая бумага<br>115 г/м<sup>2</sup>"><span class="filter-name">Мел ГЛ<br>115</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="130" id="m_130" type="checkbox" class="inpcheck-mat select-mat" data-density="130">
                    <label class="t_plot" for="m_130" data-toggle="tooltip" data-content="Мелованная глянцевая бумага<br>130 г/м<sup>2</sup>" data-original-title="" title=""><span class="filter-name">Мел ГЛ<br>130</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="150" id="m_150" type="checkbox" class="inpcheck-mat select-mat" data-density="150">
                    <label class="t_plot" for="m_150" data-toggle="tooltip" data-content="Мелованная глянцевая бумага<br>150 г/м<sup>2</sup>"><span class="filter-name">Мел ГЛ<br>150</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="170" id="m_170" type="checkbox" class="inpcheck-mat select-mat" data-density="170">
                    <label class="t_plot" for="m_170" data-toggle="tooltip" data-content="Мелованная глянцевая бумага<br>170 г/м<sup>2</sup>"><span class="filter-name">Мел ГЛ<br>170</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="200" id="m_200" type="checkbox" class="inpcheck-mat select-mat" data-density="200">
                    <label class="t_plot" for="m_200" data-toggle="tooltip" data-content="Мелованная глянцевая бумага<br>200 г/м<sup>2</sup>"><span class="filter-name">Мел ГЛ<br>200</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="250" id="m_250" type="checkbox" class="inpcheck-mat select-mat" data-density="250">
                    <label class="t_plot" for="m_250" data-toggle="tooltip" data-content="Мелованная матовая бумага<br>250 г/м<sup>2</sup>"><span class="filter-name">Мел МАТ<br>250</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="300" id="m_300" type="checkbox" class="inpcheck-mat select-mat" data-density="300">
                    <label class="t_plot" for="m_300" data-toggle="tooltip" data-content="Мелованная матовая бумага<br>300 г/м<sup>2</sup>"><span class="filter-name">Мел МАТ<br>300</span></label>
                </div>

                <div class="t_switchable">
                    <input name="m[]" value="350" id="m_350" type="checkbox" class="inpcheck-mat select-mat" data-density="350">
                    <label class="t_plot" for="m_350" data-toggle="tooltip" data-content="Мелованная матовая бумага<br>350 г/м<sup>2</sup>"><span class="filter-name">Мел МАТ<br>350</span></label>
                </div>
            </div>
        </div>
        <div class="t_greyblock clearfix lam-block new-price-filter">
            <div class="left-filter clearfix lam-filter">
                <div class="t_switchable first left-filter-switch">
                    <input name="all-lam" id="all-lam" value="0" type="checkbox" class="select-all-btn hidden" disabled="">
                    <label class="t_plot text-left" for="all-lam">
                        <span class="filter-name">Покрытие</span></label>
                </div>
            </div>
            <div class="right-filter clearfix">
                <div class="t_switchable">
                    <input name="l[]" value="0" id="l_0" type="checkbox" class="laminat inpcheck-lam select-lam">
                    <label class="t_plot" for="l_0" data-toggle="tooltip" data-content="Нет покрытия" data-original-title="" title=""><span class="filter-name">Нет</span></label>
                </div>

                <div class="t_switchable">
                    <input name="l[]" value="7" id="l_7" type="checkbox" class="laminat inpcheck-lam select-lam">
                    <label class="t_plot" for="l_7" data-toggle="tooltip" data-content="Глянцевая ламинация<br> по лицевой стороне" data-original-title="" title=""><span class="filter-name">ГЛ лам 1+0</span></label>
                </div>

                <div class="t_switchable">
                    <input name="l[]" value="8" id="l_8" type="checkbox" class="laminat inpcheck-lam select-lam">
                    <label class="t_plot" for="l_8" data-toggle="tooltip" data-content="Глянцевая ламинация<br> с двух сторон" data-original-title="" title=""><span class="filter-name">ГЛ лам 1+1</span></label>
                </div>

                <div class="t_switchable">
                    <input name="l[]" value="9" id="l_9" type="checkbox" class="laminat inpcheck-lam select-lam">
                    <label class="t_plot" for="l_9" data-toggle="tooltip" data-content="Матовая ламинация<br> по лицевой стороне" data-original-title="" title=""><span class="filter-name">МАТ лам 1+0</span></label>
                </div>

                <div class="t_switchable">
                    <input name="l[]" value="10" id="l_10" type="checkbox" class="laminat inpcheck-lam select-lam">
                    <label class="t_plot" for="l_10" data-toggle="tooltip" data-content="Матовая ламинация<br> с двух сторон" data-original-title="" title=""><span class="filter-name">МАТ лам 1+1</span></label>
                </div>

                <div class="t_switchable">
                    <input name="l[]" value="21" id="l_21" type="checkbox" class="laminat inpcheck-lam select-lam">
                    <label class="t_plot" for="l_21" data-toggle="tooltip" data-content="УФ лак<br> по лицевой стороне" data-original-title="" title=""><span class="filter-name">УФ лак 1+0</span></label>
                </div>

                <div class="t_switchable">
                    <input name="l[]" value="23" id="l_23" type="checkbox" class="laminat inpcheck-lam select-lam">
                    <label class="t_plot" for="l_23" data-toggle="tooltip" data-content="Гибридный выборочный лак<br> по лицевой стороне" data-original-title="" title=""><span class="filter-name">Гибрид 1+0</span></label>
                </div>

            </div>
        </div>

        <div class="color-select clearfix t_greyblock new-price-filter no_border_bottom">
            <div class="left-filter clearfix">
                <div class="t_switchable left-filter-switch">
                    <input type="checkbox" name="allcolor" id="allcolor" value="0" class="select-all-btn hidden" disabled="">
                    <label for="allcolor" class="t_plot text-left"><span class="filter-name">Печать</span></label>
                </div>
            </div>
            <div class="right-filter clearfix">
                <div class="t_switchable">
                    <input type="checkbox" name="c[]" id="color1" value="1" class="colors inpcheck-col hidden">
                    <label for="color1" class="t_plot"><span class="filter-name"><span class="hidden-xs hidden-sm">Односторонняя<br></span>4+0</span></label>
                </div>
                <div class="t_switchable">
                    <input type="checkbox" name="c[]" id="color2" value="2" class="colors inpcheck-col hidden">
                    <label for="color2" class="t_plot"><span class="filter-name"><span class="hidden-xs hidden-sm">Двусторонняя<br></span>4+4</span></label>
                </div>
            </div>
        </div>
        <div class="time-select clearfix t_greyblock hidden">
            <div class="left-filter clearfix">
                <div class="t_switchable left-filter-switch">
                    <input type="checkbox" name="alltime" id="alltime" value="0" class="select-all-btn hidden" checked="">
                    <label for="alltime" class="t_plot text-left"><span class="filter-name">Срок печати</span></label>
                </div>
            </div>
            <div class="right-filter clearfix">
                <div class="t_switchable">
                    <input type="checkbox" name="t[]" id="term24" value="24" class="terms inpcheck-time hidden">
                    <label for="term24" class="t_plot"><span class="filter-name"><span class="hidden-xs hidden-sm">Экспресс<br></span>1 день</span></label>
                </div>
                <div class="t_switchable">
                    <input type="checkbox" name="t[]" id="term48" value="48" class="terms inpcheck-time hidden">
                    <label for="term48" class="t_plot"><span class="filter-name"><span class="hidden-xs hidden-sm">Стандарт<br></span>2 дня</span></label>
                </div>
                <div class="t_switchable">
                    <input type="checkbox" name="t[]" id="term72" value="72" class="terms inpcheck-time hidden">
                    <label for="term72" class="t_plot"><span class="filter-name"><span class="hidden-xs hidden-sm">Эконом<br></span>3 дня</span></label>
                </div>
                <div class="t_switchable">
                    <input type="checkbox" name="t[]" id="term120" value="120" class="terms inpcheck-time hidden">
                    <label for="term120" class="t_plot"><span class="filter-name"><span class="hidden-xs hidden-sm">Супер эконом<br></span>5 дней</span></label>
                </div>
            </div>
        </div>
    </div>
</div>