@charset "utf-8";
/* MAIN STYLES */
/*HEADER STYLES*/

.srsf {
    width: auto!important;
    height: 145px!important;
}
body,
.page-wrapper {
    background-color: #f0f0f0 !important;
}
/*.header {
    background: rgb(74, 118, 168);
    !* Old browsers *!
    
    background: -moz-linear-gradient(top, rgba(206, 22, 30, 1) 0%, rgba(148, 13, 17, 1) 100%);
    !* FF3.6-15 *!
    
    background: -webkit-linear-gradient(top, rgba(74, 118, 168, 1) 0%, rgba(72, 114, 163, 1) 100%);
    !* Chrome10-25,Safari5.1-6 *!
    
    background: linear-gradient(to bottom, rgba(74, 118, 168, 1) 0%, rgba(72, 114, 163, 1) 100%);
    !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    !*background: linear-gradient(to bottom, rgba(74, 118, 168, 1) 0%, rgba(42, 88, 133, 1) 100%);*!

}*/
.subfooter {
    background: rgb(74, 118, 168);
    /* Old browsers */
    
    background: -moz-linear-gradient(top, rgba(74, 118, 168, 1) 0%, rgba(72, 114, 163, 1) 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, rgba(74, 118, 168, 1) 0%, rgba(72, 114, 163, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, rgba(74, 118, 168, 1) 0%, rgba(72, 114, 163, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.ws_nowrap {
    white-space: nowrap;
}
.userblocks {
    float: right;
    position: relative;
    margin: 15px 25px 0 0;
    text-transform: uppercase;
}
.userblocks:last-child {
    margin-right: 0;
}
.userblocks li {
    display: block;
    float: left;
    /*height: 55px;*/
    
    margin: 0 0 10px 10px;
    position: relative;
}
.userblocks li a.bl {
    color: #71767C;
    background: #eee;
    border: 1px solid #fff;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px #333;
    display: block;
    font-size: 10px;
    position: relative;
    text-decoration: none;
}
.userblocks li a.bl:hover,
.userblocks li a.current {
    background: none #FFF;
    color: #B51118;
}
.current {
    cursor: default;
}
.uorders a span {
    background: url("../../images/orders.png") no-repeat scroll 50% 8px transparent;
}
.unew a span {
    background: url("../../images/uplus.png") no-repeat scroll 52% 8px transparent;
}
.umes a span {
    background: url("../../images/dialog.png") no-repeat scroll 50% 8px transparent;
}
.ufin a span {
    background: url("../../images/fin.png") no-repeat scroll 50% 8px transparent;
}
.ucrm a span {
    background: url("../../images/crm.png") no-repeat scroll 50% 8px transparent;
}
.ubonus a span {
    background: url("../../images/pig.png") no-repeat scroll 50% 8px transparent;
}
.uprofile a span {
    background: url("../../images/users.png") no-repeat scroll 50% 8px transparent;
}
.uprice a span {
    background: url("../../images/calculator-grey.png") no-repeat scroll 50% 8px transparent;
}
.uhelp a span {
    background: url("../../images/book.png") no-repeat scroll 50% 8px transparent;
}
.ulogout a span {
    background: url("../../images/exit.png") no-repeat scroll 50% 8px transparent;
}
.userblocks li a span {
    display: block;
    padding: 32px 6px 0;
}
.numbers {
    background-color: #444;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    padding: 3px 3px;
    color: #f2f2f2;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -5px;
    top: -5px;
}
.angel {
    border: 1px solid #fff;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px #333;
    color: #71767C;
    display: block;
    font-size: 11px;
    text-decoration: none;
    background: #FFF url(../images/angel.jpg) left no-repeat;
    padding: 2px 3px 1px 60px;
    width: 185px;
    height: 48px;
    cursor: pointer;
}
#neworder ul,
.uhelp ul {
    margin: 0px;
    padding: 0;
    font-size: 13px;
}
#neworder ul li {
    margin: 0;
    float: none;
}
ul li:hover ul.dropdown-menu {
    display: block;
    margin: 0;
}
.udeliv a span {
    background: url("../img/delivery_icon.png") no-repeat scroll 50% 8px transparent;
    background-size: 23px 23px;
}
.numbers.text-danger {
    color: #ff8d8d!important;
}
[data-target="#newadr"]:not(.btn) {
    color: #C00;
    border-bottom: 1px dashed #C00;
    cursor: pointer;
}
[data-target="#newadr"]:not(.btn):hover {
    text-decoration: none;
    border-bottom: 1px solid #FF0000;
}
/*END HEADER*/

footer {
    margin-top: 50px;
}
a {
    transition: none;
}
.mini_padding > li > a {
    padding: 12px 19px;
}
.mainblock {
    border: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #ccc;
    margin-top: 10px;
    padding: 10px;
}