.pd-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.mg-xs-10-b {
    margin-bottom: 10px;
}
.mgb-15px {
    margin-bottom: 15px!important;
}
.mgb-20px {
    margin-bottom: 20px!important;
}
.mg-0 {
    margin: 0;
}
.mgt-0 {
    margin-top: 0;
}
.pd-md-26-r {
    padding-right: 26px;
}
.lh-42 {
    line-height: 42px;
}
.mgt-15px {
    margin-top: 15px;
}
.pd-30-l {
    padding-left: 30px;
}
.lh-30 {
    line-height: 30px;
}
.pd-30-l {
    padding-left: 30px;
}
.lh-30 {
    line-height: 30px;
}
.w-270 {
    min-width: 210px;
}
.w-100 {
    min-width: 100px;
}
.w-110 {
    min-width: 110px;
}
.mgb-10px {
    margin-bottom: 10px;
}
.mt-20px {
    margin-top: 20px;
}
.hidden_30 {
    opacity: 0.3;
}
.mgb-0 {
    margin-bottom: 0;
}
.pad-xs-10 {
    padding: 10px 0;
}
.m_t_5 {
    margin-top: 5px;
}
.m_t_4 {
    margin-top: 4px;
}
.pdl-10 {
    padding-left: 10px;
}
.mgl-7px {
    margin-left: 7px;
}
.fa_srok {
    margin-left: 5px;
    color: #dddddd;
    font-size: 12px;
}
.fa_popover {
    margin-left: 5px;
    color: #dddddd;
    font-size: 12px;
}
.fa_popover_22 {
    display: none;
    position: absolute;
    line-height: 26px;
    margin-left: 10px;
    color: #dddddd;
    font-size: 12px;
}
.alert:after {
    top: 50%;
    top: calc(50% - 14px);
}
.alert {
    font-weight: 500;
}
.btn a {
    text-transform: none;
    font-size: 14px;
    word-wrap: break-word;
}
.table-responsive-new {
    overflow-x: auto;
}
.popover {
    border-radius: 0 !important;
}
.time-row .popover{
    font-family: Calibri;
}
a.no-hov:hover,
a.no-hov:focus {
    text-decoration: none;
    color: #4a76a8!important;
}
.dashed {
    color: #4a76a8;
    border-bottom: 1px dashed #4a76a8;
    cursor: pointer;
}
.dashed:hover,
.dashed:focus {
    color: #4a76a8;
    text-decoration: none;
    border-bottom: 1px solid #4a76a8;
}
/*TABLE STYLES*/

.table-responsive .table {
    margin-bottom: 0px;
}
.table > tbody > tr > td {
    border-color: #E5E5E5;
}
.table>tbody>tr>td:first-child,
.table>thead>tr>td:first-child {
    padding-left: 10px;
}
.table-tooltip-time>tbody>tr:first-child>td,
.table-tooltip-time>thead>tr:first-child>td{
    border-color: #fff;
}
.table-tooltip-time>tbody>tr>td,
.table-tooltip-time>thead>tr>td {
    padding: 10px;
}
.table thead td {
    font-weight: bold;
    border-bottom: 0px;
}
.table:not(.table-sborka-red) > thead > tr > th:first-child {
    border-left: 0px;
}
.table > thead > tr > th {
    color: #fff;
    background-color: #4a76a8;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: normal;
    border-left: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
}
.table > tbody > tr > .td_sborka:hover {
    background-color: #4a76a8;
    color: #fff !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.table > tbody > tr > .td_sborka:hover a {
    color: #fff !important;
    text-decoration: none;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.table_sborka > thead > tr > th,
.table_sborka > tbody > tr > th,
.table_sborka > tfoot > tr > th,
.table_sborka > thead > tr > td,
.table_sborka > tbody > tr > td,
.table_sborka > tfoot > tr > td {
    border-top: none;
}
.table_sborka:not(.table-bordered) {
    border-bottom: none;
}
/*TR NO HOVER*/

.no-hover_tr:hover {
    background-color: transparent!important;
}
.no-hover_tr:hover>td:hover {
    background-color: #fff!important;
}
/*END TR NO HOVER*/

.no-border td {
    border: none!important;
}
table.no-border {
    border-top: none;
    border-bottom: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
.table > tbody > tr > .td_sborka {
    padding: 0;
}
.td_sborka a {
    display: block;
    padding: 10px 5px;
}
/*
.table_sborka.table-bordered:not(.table_tooltip) > tbody > tr:hover  > td {
    border-color: #fff;
}
   .table_sborka.table-bordered:not(.table_tooltip) > tbody > tr:hover  > td:first-child{
       border-left-color: #f3f3f3;
   }
   .table_sborka.table-bordered:not(.table_tooltip) > tbody > tr:hover  > td:last-child{
       border-right-color: #f3f3f3;
   }
*/

.nohover:hover {
    background: #f5f5f5 !important;
}
.infozakaz>table>tbody>tr>td>form {
    margin: 0;
}
/*PAGE PRODUCTS STYLES*/

.product_block_razmer {
    border: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #ccc;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.div_example {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}
.div_example img {
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    
    filter: grayscale(100%);
    max-width: 100%;
}
.div_example div {
    margin: 0 auto;
    padding-top: 10px;
    height: 43px;
}
.div_example a {
    background: #f2f2f2;
    color: #333;
    border: 1px solid #f2f2f2;
    text-decoration: none;
    min-height: 175px;
}
.div_example a:hover,
.div_example a.selected,
.active_div_example a {
    background: #fff;
    color: #4a76a8;
    border: 1px solid #ccc;
    text-decoration: none;
}
.div_example a:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.div_example a:hover img,
.div_example a.selected img,
.active_div_example a img {
    -webkit-filter: grayscale(0);
    /* Safari 6.0 - 9.0 */
    
    filter: grayscale(0);
}
.input-from-modal-window,
.btn-from-modal-wind {
    width: 100%;
}
.my-example {
    width: 90%!important;
}
/*END PAGE PRODUCT STYLES*/
/*PROFILE STYLES*/

#addresseslist thead th:last-child {
    width: 40px;
}
#addresseslist tbody tr td:nth-child(3) {
    text-align: left;
}
#addresseslist>tbody>tr>td:first-child {
    padding-left: 5px;
}
#addresseslist tbody tr td:nth-child(1) a {
    color: #aaa;
}
#addresseslist tbody .success span {
    color: green;
}
#addresseslist tbody .noactive {
    color: #ddd;
}
#addresseslist tbody .net-sklada td {
    background: #fafafa;
    color: #bbb;
}
#addresseslist tbody .net-sklada:hover td {
    border-color: #fafafa;
}
#addresseslist tbody tr td:nth-child(2) {
    width: 30px;
    padding-top: 10px;
}
/*CHANGE PASSWORD STYLES*/

.form-group .eye-pass {
    font-size: 18px;
    top: 4px;
    right: 24px;
    position: absolute;
    z-index: 100;
    color: #ccc;
    font-style: normal;
}
.form-group .eye-pass:before {
    content: "\f023";
    font-family: FontAwesome;
}
.form-group .eye-pass:hover {
    color: #4a76a8;
}
.form-group .iseeyou:before {
    color: green;
    content: "\f09c" !important;
    font-family: FontAwesome;
}
/* END PROFILE STYLES*/
/*ORDERS STYLE*/

.fin-cont .cont-control {
    margin-bottom: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.fin-cont .dataTable {
    margin-bottom: 0;
}
.fin-cont {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
}
.orders-section .table_sborka a>span.glyphicon,
.orders-section .table_sborka a>i.fa {
    color: #666;
}
.orders-section .table_sborka a:hover>span.glyphicon,
.orders-section .table_sborka a:hover>i.fa {
    color: #4a76a8;
}
.orders-section .del:hover>span:first-child {
    color: #4a76a8!important;
}
.orders-section table.dataTable thead .sorting_desc {
    background-image: url(http://sborka.ua/cside/img/caret-down.svg);
    background-size: 18px;
}
.orders-section table.dataTable thead .sorting_asc {
    background-image: url(http://sborka.ua/cside/img/caret-up.svg);
    background-size: 18px;
}
/*DROPED MENU STYLE*/

.with-menu-td {
    padding: 0!important;
}
.with-menu-td>ul {
    min-width: 45px;
    min-height: 41px;
    margin: 0;
}
.with-menu-td>ul>li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ordermenu>.droped {
    position: relative;
}
.ordermenu ul.droped-menu {
    border: 1px solid #aaa;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;
    margin: 0;
    position: absolute;
    min-width: 240px;
    padding: 0;
    margin: 0;
    top: 35px;
    left: -209px;
    z-index: 999;
}
.ordermenu ul.droped-menu>li {
    text-align: left;
}
.ordermenu ul.droped-menu a>span {
    vertical-align: middle;
    color: #333;
}
.ordermenu ul.droped-menu span {
    color: #aaa;
}
.ordermenu>li>ul.droped-menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    border: 1px solid #f1f1f1;
    border-bottom-color: #ccc;
    background: #f2f2f2;
    color: #333;
    border: 1px solid #f2f2f2;
    text-decoration: none;
}
.ordermenu ul.droped-menu a>span.text-gliph {
    display: inline-block;
    padding-left: 8px;
}
.ordermenu>li>ul.droped-menu a:hover {
    background: #fff;
    color: #4a76a8;
    border: 1px solid #f2f2f2;
    border: 1px solid #aaa;
}
.ordermenu ul.droped-menu a:hover>span {
    color: #4a76a8;
}
/*BUTTONS ORDER*/

.btn-type-order i {
    font-size: 21px;
}
.btn-type-order {
    min-width: 0px;
    padding: 2px 6px 0 6px;
    margin: 0;
    text-transform: none;
    color: #333;
}
.btn-type-order:focus,
.btn-type-order.active:focus,
.btn-type-order.focus:focus,
.btn-type-order.active.focus {
    outline: none;
}
.btn-type-order.active,
.btn-type-order.focus {
    box-shadow: none;
    border: 1px solid #ccc!important;
}
.btn-type-order:hover {
    border: 1px solid #ccc!important;
}
.print_type .chosen-single {
    padding: 1px 3px 3px 8px;
}
/*TABLE VIEW STYLES*/

#tableorder {
    min-width: 1070px;
}
#tableorder thead th {
    font-size: 12px;
}
#tableorder thead th:nth-child(1) {
    text-align: center;
    padding-left: 5px;
}
#tableorder thead th:nth-child(2),
#tableorder thead th:nth-child(3) {
    font-size: 12px;
    margin-left: 0px;
    padding-left: 4px;
    text-align: left;
}
#tableorder tbody tr td:nth-child(2) {
    min-width: 70px;
}
#tableorder tbody tr td:nth-child(3) {
    min-width: 70px;
}
#tableorder tbody tr td:nth-child(4) {
    min-width: 180px;
}
#tableorder tbody tr td:nth-child(5) {
    min-width: 60px;
}
#tableorder tbody tr td:nth-child(6) {
    min-width: 60px;
}
#tableorder tbody tr td:nth-child(7) {
    min-width: 80px;
}
#tableorder tbody tr td:nth-child(8) {
    min-width: 60px;
}
#tableorder tbody tr td:nth-child(9) {
    min-width: 60px;
}
#tableorder tbody tr td:nth-child(10) {
    min-width: 60px;
}
#tableorder tbody tr td:nth-child(11) {
    max-width: 80px;
}
#tableorder tbody tr td:nth-child(12) {
    min-width: 80px;
}
#tableorder tbody tr td:nth-child(14) {
    min-width: 80px;
}
#tableorder tbody tr td:nth-child(15) {
    min-width: 25px;
}
/*NEW VIEW ORDERS*/

.wrap-row-order {
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.n-o-no_hover {
    color: #333;
    text-decoration: none;
}
.n-o-no_hover:hover,
.n-o-no_hover:focus {
    color: #333;
    text-decoration: none;
}
.new_i {
    color: #666;
}
.new_i:hover {
    color: #4a76a8;
}
.wrap_tir .new_i,
.wrap_tir .new_i:hover {
    color: #fff;
}
.h25 {
    height: 25px;
}
.label_active {
    border-left-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    font-weight: 500!important;
    padding: 7px 0px 7px 0px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
.btn_search {
    min-width: 0;
    margin: 0;
    height: 28px;
    background-color: #ccc;
    color: #333;
    z-index: 4;
    padding: 3px 12px;
    color: #333;
}
.btn_active,
.btn_active:hover {
    background-color: #4a76a8;
    color: #fff;
}
.inp_search {
    height: 28px;
    border-color: #e0e0e0;
    border-right: none;
    box-shadow: none!important;
}
.inp_active {
    border-color: #4a76a8 !important;
}
.input-group .form-control.q1:focus {
    z-index: 1;
}
.wrap_h_141,
.bl_h_115 {
    height: 115px;
}
.center_bl {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}
.center_bl ul {
    margin-bottom: 0;
}
.a_black {
    color: #333;
}
.a_black:hover {
    color: #4a76a8;
    text-decoration: none;
}
.a_black:focus {
    color: #333;
    text-decoration: none;
}
.chosen-container .chosen-results {
    padding-left: 0.5px;
    margin-right: 0.3px;
}
.tracking-parcel:hover {
    color: #4a76a8;
}
.info_pay {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 0;
}
.info_pay:hover strong {
    color: #4a76a8;
}
.info_block {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: none;
}
.mfp-bg {
    z-index: 1100;
}
.mfp-wrap {
    z-index: 1101;
}
.p_modal {
    font-size: 18px;
}
/*INFO ORDER MODAL*/

.modal-content .infozakaz table tr td:first-child {
    width: 25%;
}
/*END ORDERS STYLE*/
/*PAGE ORDER NEW STYLE*/

.datepicker table tr td.active.active,
.datepicker table tr td.active:hover {
    background-color: #4a76a8!important;
    border-color: #4a76a8!important;
    background-image: none;
}
.name-option {
    left: 15px!important;
}
.border-b-none {
    border-bottom: none!important;
}
.form-row .radio,
.form-row .checkbox {
    padding: 0!important;
    min-height: 0px!important;
}
.form-row label {
    font-weight: normal;
}
.form-row .content-block .btn {
    margin: 0;
}
.form-row .content-block .alert {
    margin: 0;
}
.form-row {
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
}
.form-row.first {
    margin-top: 0;
}
.form-head {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
}
.form-head .head-cont {
    padding: 15px 30px;
}
.head-block h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 1px solid #E5E5E5;
}
main .affix {
    top: 10px;
}
.img-contain {
    display: inline-block;
    margin-right: 15px;
}
.img-contain img {
    display: inline-block;
}
.form-row .content-block .btn {
    margin: 0;
}
.form-row .content-block .alert {
    margin: 0;
}
.form-row .content-block {
    padding-top: 15px;
    padding-bottom: 15px;
}
.content-block>.form-group {
    margin-bottom: 0;
}
.form-row .pt-popover:after {
    top: 7.5px;
    right: -15px;
}
.form-row .pt-popover:after {
    right: -15px;
}
.form-row h3 span.pt-popover:after {
    top: 7.5px !important;
}
.post-w label.pt-popover:after {
    top: 1px;
}
.form-row label>.pt-popover {
    margin-left: 15px;
}
.form-row .personal_c label>.pt-popover {
    font-weight: bold;
}
.form-row label>.pt-popover:after {
    top: 1.6px;
    left: -14px;
}
.no-hover-tr:hover {
    background-color: #FFFFFF;
}
.no-hover-tr:hover td {
    border-color: #E5E5E5!important;
}
.form-footer {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form-footer .btn {
    margin: 0;
    margin-top: 15px;
}
.form-footer>.row>.content-footer:first-child {
    border-top: 1px solid #ccc;
}
.content-footer {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.content-footer span {
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
}
.content-footer p {
    padding: 10px 0;
    padding-left: 10px;
    margin: 0;
}
.title_price+div {
    border-left: 1px solid #ccc;
}
.title_price span {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
.form-control {
    padding-right: 0;
}
.cont-block {
    border: 1px solid #ccc;
    height: 175px;
    padding: 15px;
    position: relative;
}
.cont-block:hover {
    text-decoration: none!important;
}
.cont-block p {
    margin: 0;
    color: #4a76a8;
}
.cont-block .img-cont {
    position: absolute;
    bottom: 15px;
    width: 100%;
    width: calc(100% - 30px);
    text-align: center;
}
.cont-block .img-cont img {
    display: inline-block;
    height: auto;
    width: 130px;
}
.line-text p {
    margin-bottom: 5px;
}
.title-page {
    padding: 6px;
    padding-left: 0;
    font-size: 18px;
    font-weight: 700;
    color: #4a76a8;
    border-bottom: solid 1px #ccc;
}
.content-block .btn {
    margin: 0;
}
.content-block .alert {
    margin: 0;
}
.personal_c>.row {
    margin-bottom: 15px;
}
.personal_c>.row:last-child {
    margin-bottom: 0;
}
.all_price {
    text-transform: uppercase!important;
    font-weight: 400!important;
    font-size: 20px!important;
}
.tabs-style-2 .tab-content.tab_digi {
    padding: 0;
}
.param-text {
    font-size: 18px;
    font-weight: 700;
    color: #4a76a8;
    padding-bottom: 20px;
    margin: 0;
}
.with-radio>.row>.radio {
    margin-bottom: 15px;
    padding: 0;
    min-height: 0;
}
.with-radio>.row>.radio:last-child {
    margin-bottom: 0;
}
.form-row input[type="radio"],
.radio-red input[type="radio"] {
    visibility: hidden;
}
.radio-text:before {
    font-family: "FontAwesome";
    content: "\f10c";
    font-size: 14px;
    color: #4a76a8;
    position: absolute;
    left: 0;
}
.form-row input[type="radio"]:checked+.radio-text:before,
.radio-red input[type="radio"]:checked+.radio-text:before {
    content: "\f192";
}
.form-row input[type="radio"]:disabled+.radio-text:before,
.radio-red input[type="radio"]:disabled+.radio-text:before {
    color: #ccc;
}
.form-row label.radio-inline:before,
.radio-red label.radio-inline:before {
    display: none!important;
}
/**/

.post-w>.form-group {
    margin-bottom: 15px;
}
.post-w>.form-group:last-child {
    margin-bottom: 0;
}
.orderform_head {
    margin-bottom: 15px;
}
.orderform_head .alert {
    margin: 0;
}
#twosideadd {
    font-size: 14px;
    text-transform: none;
    white-space: pre-wrap;
}
.pravila p {
    margin-bottom: 5px;
}
.list-sel .btn {
    min-width: 0;
    border-left: 1px solid transparent;
}
.list-sel .btn:hover {
    border-left: 1px solid #FFFFFF;
}
.list-sel .btn:hover a {
    text-decoration: underline;
}
.list-sel>.btn:nth-child(2) {
    border-left: 1px solid transparent!important;
}
.modal-footer {
    text-align: left !important;
}
.financeuvedom tbody td {
    text-align: center;
}
.financeuvedom tbody td:nth-child(3) {
    text-align: right;
    font-weight: bold;
    min-width: 80px;
}
.financeuvedom tbody td:nth-child(4) {
    text-align: left;
}
.client-result {
    position: absolute;
    right: 0;
    width: 46px;
    top: 26px;
}
ul.pagination:not(.new_pagination) li.active a {
    color: #333333;
    background-color: #fafafa;
    border-color: #dddddd;
}
/*FAVORITS STYLES*/

.favor .div_example {
    height: 168px;
}
.favor .newprice {
    margin-bottom: 0;
}
.favor .table-responsive .newprice td {
    padding: 6px;
    border: none;
}
.favor .newprice thead,
.favor .newprice tfoot {
    font-weight: bold;
}
.favor h3.newo {
    font-weight: 700;
    margin: 15px 0;
    padding: 7px;
    color: #333;
    text-align: left;
    clear: left;
    font-size: 15px;
}
.favor .dele a {
    width: 16px;
    height: 16px;
    padding: 0;
}
.filter-text-favorit {
    margin-right: 10px;
    display: inline-block;
    line-height: 28px;
}
.menu-control-cat {
    position: relative;
    border: 1px solid #ccc;
    padding-right: 15px;
}
.menu-control-cat,
.search-filter-favorit {
    margin-top: 15px;
}
.favor .t_new {
    margin-bottom: 0;
}
.favor .t_new td {
    vertical-align: middle!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding: 10px 15px!important;
    text-align: center;
    cursor: pointer;
}
.favor .t_new td.column_pw,
.t_new td.column_m {
    text-align: left;
}
.favor .ico-control {
    color: #666;
}
.favor .ico-control:hover {
    color: #4a76a8;
}
.favor .icon-post img {
    display: inline-block;
}
.favor .icon-post {
    margin-right: 8px;
    vertical-align: middle;
}
.favor .dropdown-control {
    position: relative;
}
.favor .droped-menu {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    top: 0;
    border: 1px solid #aaa;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.favor .droped-menu li.menu-item {
    padding: 0 15px;
    min-height: 35px;
    border-bottom: 1px solid #eee;
}
.favor .droped-menu li.menu-item:hover {
    background-color: #eee;
}
.favor .droped-menu li.menu-item>div {
    padding: 15px;
}
.favor .droped-menu>li.menu-item:last-child>div {
    border-bottom: none;
}
.favor .control-icons-container {
    padding-left: 0px;
}
.favor .control-icons-container>i {
    cursor: pointer;
}
.favor .control-icons-container>i:not(:last-child) {
    margin-right: 10px;
}
.favor .add-item-cat {
    cursor: pointer;
}
table.table-modal>thead>tr>th {
    background-color: #fff;
    color: #333!important;
    border: 1px solid #ebebeb!important;
    border-color: #ebebeb;
}
.favor .control-menu {
    color: #333;
    line-height: 28px;
    padding-right: 10px;
    padding-left: 20px;
}
.favor .menu-control-cat:hover .control-menu,
.favor .control-menu:focus {
    text-decoration: none!important;
    color: #4a76a8;
}
.favor .no_hover:hover td {
    border-color: rgb(229, 229, 229)!important;
    cursor: default;
}
.favor .drop-status {
    line-height: 28px;
    margin-right: 10px;
}
.favor .header-cat td,
.header-cat.no_hover:hover td {
    border-right-color: #fff!important;
    border-left-color: #fff!important;
}
.favor .icon-change {
    cursor: pointer;
}
.favor .link-td:hover,
link-td:focus {
    text-decoration: none;
}
.favor .error-border {
    border-color: #4a76a8;
}
/*END FAVORITS STYLE*/
/*FINANCE STYLES*/

.finance-section textarea {
    resize: none;
}
.finance-section #totalss {
    font-weight: bold;
    padding: 0 3px;
}
.finance-section .outer p:not(.text-left) {
    text-align: center;
}
.finance-section .clearinput {
    padding: 0;
    border: none;
    width: 40px;
}
.finance-section .summ .amonts {
    width: 60px;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    height: 25px;
    color: #900;
    text-align: center;
}
.finance-section .btn-modal-control {
    color: #4a76a8;
    text-transform: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}
.finance-section .btn-link:hover,
.finance-section .btn-link:focus,
.finance-section .btn-link:active {
    color: #4a76a8;
    outline: none!important;
}
.section.finance-section {
    padding-top: 15px;
}
.finance-section .finance-cont {
    background-color: #FFFFFF;
    padding: 20px 15px;
}
.finance-section .finance-cont h3 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}
/*FINANCE NEW*/
/*MAIN FINANCE TABLE*/

.finance-section .fin-table th {
    width: 33.3333%;
}
.fr {
    min-width: 360px;
}
.finance-section .fin-table td:not(.button-fin) {
    text-align: center;
}
.finance-section .button-fin a {
    display: block;
}
.finance-section .button-fin:hover {
    background-color: #D40003;
}
.finance-section .button-fin:hover a {
    color: #fff;
    text-decoration: none;
}
.finance-section .button-fin.active {
    background-color: #D40003!important;
    color: #fff!important;
}
.finance-section .button-fin.active a {
    color: #fff!important;
}
.finance-section .button-fin.active~td {
    background-color: #f5f5f5;
}
/*END TABLE*/
/*IMG + ICONS FINANCE*/

.finance-section .ico-fin {
    float: left;
    display: inline-block;
    max-height: 40px;
}
.finance-section .ico-fin+a {
    float: left;
    display: inline-block;
    padding-left: 15px;
    word-wrap: break-word;
}
.finance-section .ico-fin>img {
    display: inline-block;
    max-height: 40px;
    width: auto;
}
.finance-section .link-img {
    display: block;
    width: 50%;
}
/*END*/
/*FORMS + TEXT FINANCE*/

.finance-section .summ {
    display: inline-block;
}
.finance-section .dates {
    font-size: 12px;
}
.finance-section .pops {
    line-height: 1.82857143!important;
    margin-left: 3px;
    cursor: pointer;
}
.finance-section .radio-text:before {
    font-family: "FontAwesome";
    content: "\f10c";
    font-size: 14px;
    color: #4a76a8;
    position: absolute;
    left: 0;
}
.finance-section #beznald input[type="radio"]:checked+.radio-text:before,
.summ input[type="radio"]:checked+.radio-text:before,
#buh_order input[type="radio"]:checked+.radio-text:before {
    content: "\f192";
}
.finance-section #beznald input[type="radio"]:disabled+.radio-text:before,
.summ input[type="radio"]:disabled+.radio-text:before,
#buh_order input[type="radio"]:disabled+.radio-text:before {
    color: #ccc;
}
.finance-section #beznald .form-horizontal {
    margin-top: 10px;
}
.finance-section .summ-pays {
    font-weight: bold;
    font-size: 18px;
}
.finance-section .summ-cont {
    background-color: #fff;
    margin-bottom: 20px;
}
.finance-section .summ input {
    color: black!important;
    font-size: 15px!important;
}
.finance-section .summ {
    line-height: 25px;
}
.finance-section .summ span,
.summ-cont .summ label {
    font-weight: 500;
    color: #333;
    font-size: 15px;
}
.finance-section .summ button {
    min-width: 0px;
}
.finance-section .outer form {
    margin: 0;
}
.finance-section .outer .btn {
    margin: 0;
}
.finance-section .text-forsumm {
    font-weight: bold;
    color: #333;
    font-size: 15px;
    text-align: left!important;
}
.finance-section .inf-c p {
    display: inline-block;
}
.finance-section .nprofil,
.balance,
#zakaz-sum {
    font-size: 15px;
    font-weight: bold;
}
.finance-section .nprofil {
    padding-right: 15px;
}
.finance-section .profil-num,
.balance-sum,
#zakaz-sum {
    color: #4a76a8!important;
}
.finance-section .small-head {
    font-weight: 500!important;
}
.radio-text {
    cursor: pointer;
}
.sel-z .radio-text:hover,
.amuo:hover {
    text-decoration: underline;
    color: #4a76a8!important;
}
.sel-z .radio-text:hover span {
    color: #4a76a8!important;
}
.text-imp {
    color: #4a76a8!important;
    font-weight: bold!important;
}
#order-bl {
    font-weight: 500!important;
    font-size: 15px;
    color: #333;
    text-align: left!important;
    padding-top: 5px;
    margin: 0;
}
/*FILTER FINANCE STYLE*/

.finance-section .form-with-date .form-group >div label {
    line-height: 30px;
}
.finance-section .form-with-date .form-group a,
.finance-section .arc {
    line-height: 30px;
    color: #666;
}
.finance-section .form-with-date .form-group a span.glyphicon {
    line-height: 1;
}
.finance-section .form-with-date .form-group a span,
.finance-section .form-with-date .form-group a i {
    vertical-align: middle;
}
.finance-section .with-ico img {
    display: inline-block;
}
.finance-section select {
    color: #666!important;
}
.table-orders-select td {
    vertical-align: middle!important;
}
.input-group.date input[readonly] {
    opacity: 1;
    background-color: #fff;
}
.table-hystory.table-container,
.table-finance-uved.table-container {
    padding: 15px;
    background-color: #fff;
}
.table-hystory.table-container>table>tbody>tr>td:first-child,
.table-finance-uved.table-container>table>tbody>tr>td:first-child {
    border-left: 1px solid #E5E5E5;
}
.table-hystory.table-container>table>tbody>tr>td:last-child,
.table-finance-uved.table-container>table>tbody>tr>td:last-child {
    border-right: 1px solid #E5E5E5;
}
.table-hystory.table-container>table>thead>tr>th:last-child,
.table-finance-uved.table-container>table>thead>tr>th:last-child {
    border-right: none;
}
.finance-filter {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}
.finance-section .form-with-date {
    margin: 0;
}
.finance-filter div.chosen-container {
    min-width: 100px !important;
}
.form-with-date .form-group .chosen-container a {
    line-height: 24px;
}
.form-with-date .chosen-container {
    min-height: 31px;
}
.form-with-date .chosen-container-single .chosen-single {
    height: 30px;
}
.form-with-date .chosen-container .chosen-results {
    padding-top: 4px;
}
.form-with-date .chosen-container-single .chosen-single span {
    margin-right: 14px;
}
#orderid_chosen {
    width: 120px!important;
}
.not-active-btn.btn,
.not-active-btn.btn:hover,
.not-active-btn.btn:focus,
.not-active-btn.btn:active,
.not-active-btn.btn:active:hover,
.not-active-btn.btn:active:focus {
    background-color: #666;
    border: 1px solid #666;
    color: #fff;
    opacity: 0.7;
}
.form-with-date .chosen-container-single .chosen-single div b {
    background: url(../../js/chosen/chosen-sprite.png) no-repeat 4px 6px;
}
.form-with-date .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -14px 4px;
}
/*END FINANCE STYLE*/
/*PAGE PROFILE STYLES*/

.profile-row .i_radio {
    display: none;
}
.profile-row .new_radio3 {
    text-align: center;
    width: 90px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
}
.profile-row .wrap_radio3 {
    float: left;
    width: 60px;
    height: 22px;
    position: relative;
    cursor: pointer;
}
.profile-row .polosa3 {
    position: absolute;
    top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.profile-row .bg_polosa_red {
    background: #4a76a8;
}
.profile-row .bg_polosa_gray {
    background: #d3d3d3;
}
.profile-row .krug3 {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    top: 50%;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
}
.profile-row .text_on {
    position: absolute;
    top: 3px;
    left: 13px;
    color: #fff;
}
.profile-row .text_off {
    position: absolute;
    top: 3px;
    right: 7px;
    color: #fff;
    display: none;
}
.profile-row .form-control {
    width: 99%;
    height: 28px;
}
.profile-row .form-horizontal .control-label {
    padding-top: 4px;
}
.profile-row .standart-tab-sborka {
    background-color: #fff;
    padding: 15px;
}
.profile-row .standart-tab-sborka table {
    margin-bottom: 0px;
}
.profile-row .mainblock {
    margin-top: 0;
}
/*END PROFILE STYLES*/
/*PAGE HELP STYLES*/

#helpmenu li {
    float: none;
    margin: 0;
    cursor: pointer;
}
#helpmenu .noactive a {
    color: #ccc;
    cursor: default;
}
.supervkladka {
    padding: 0 !important;
    margin-bottom: 0px;
}
.supervkladka:after {
    width: 0px !important;
}
.supervkladka .tab-content {
    padding: 5px 20px;
    border: 0px !important;
}
.supervkladka .tab-content h1 {
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-top: 0;
}
.supervkladka .vertical .tab-content {
    border: 0px;
    box-shadow: none;
}
.supervkladka .nav-tabs > li.active > a,
.supervkladka .nav-tabs > li.active > a:hover,
.supervkladka .nav-tabs > li.active > a:focus {
    border: 1px solid #666;
    background-color: #666;
    color: #fff;
    width: 100%;
}
.supervkladka .nav-tabs > li > a:hover {
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #333;
    width: 100%;
}
/*HELP TABS*/

.help-tabs .supervkladka .vertical {
    margin: 5px;
}
.help-tabs .supervkladka .nav-tabs {
    margin: 5px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
}
.help-tabs .mainblock .vertical .nav-tabs > li a {
    padding: 15px 50px 15px 25px;
}
.help-tabs .nav-tabs .submlist {
    background: #f3f3f3;
    margin-bottom: 0px;
}
.help-tabs .vertical .nav-tabs .submlist a {
    white-space: nowrap;
    color: #777777;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px 10px 45px !important;
    border-bottom: 1px solid #ccc;
}
.help-tabs .supervkladka .nav-tabs .fa-chevron-down {
    float: right;
    display: block;
    position: absolute;
    top: 17px;
    right: 15px;
}
.help-tabs .supervkladka .nav-tabs a i {
    display: none;
}
.help-tabs .t_maxipic {
    float: left;
    margin-right: 20px;
}
.help-tabs .t_minipic {
    padding-right: 20px;
}
form .errorPlace {
    margin: 0;
}
form .error {
    line-height: 32px;
    margin: 0;
}
/*END HELP STYLES*/
/*MESSAGES STYLE*/

.message-section a.link_ico {
    color: #666;
}
.message-section a.link_ico:hover {
    color: #4a76a8;
}
.message-section .no-focus:focus {
    background-color: transparent;
    color: #666;
    border: none;
}
.message-section .form-message,
.message-section .message-table {
    width: 100%;
    margin: 0;
}
.message-section .fixed-header td,
.message-section .message-table td {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 15px!important;
}
.messages-table-div.vertical .nav-tabs > li.active > a,
.messages-table-div.vertical .nav-tabs > li.active > a:hover,
.messages-table-div.vertical .nav-tabs > li.active > a:focus {
    width: 100%;
}
.message-table{
    word-break: break-word;
}

/*NEW MESSAGE STYLE*/

.form-message {
    margin: 0;
}
.form-message>.wrapper-message {
    border-top: 1px solid #f2f2f2;
    padding-bottom: 10px;
    padding-top: 10px;
}
.form-message>.wrapper-message.last-child {
    padding-bottom: 0;
}
.form-message>.wrapper-message .btn {
    margin: 0
}
/*END MESSAGE STYLE*/
/*ALL STYLE*/

.block_s {
    display: none;
}
.fa-question-circle {
    cursor: help;
}
.btn-my {
    background-color: #cacaca;
    border-radius: 0!important;
    border-color: #cacaca;
    color: #333;
    text-transform: none!important;
    line-height: 30px!important;
    min-width: 32.5px!important;
}
.btn-my.active {
    background-color: #666666;
    border-color: #666666;
    color: #fff;
    border-radius: 0!important;
}
.btn-default {
    border-color: #4a76a8;
}
.scrollToTop i {
    line-height: 35px;
    font-size: 24px;
}
.scrollToTop {
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
}
.bg-info {
    background-color: #c6e8fa!important;
}
.fixed-header {
    z-index: 999999;
}
.alert-fin {
    color: #777!important;
}
.ordermenu1>.main-navigation>ul>li {
    position: absolute;
}
/*PAGES NEW ORDER > LOAD MAKET*/

.valide-maket {
    font-size: 25px;
}
.status-ok {
    color: #009130;
}
.status-no {
    color: #4a76a8;
}
.table-maket-status {
    margin-bottom: 15px;
}
.table-maket-status tr:hover td {
    border-color: #E5E5E5!important;
}
.table-maket-status>tbody>tr>td {
    vertical-align: middle;
}
.text-prev-param {
    padding-left: 8px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
}
/*LOAD MAKET BOX*/

.header-load-side {
    font-size: 19px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.image-preview-small {
    margin-bottom: 15px;
}
.image-preview-small img {
    margin: 0 auto;
}
label.checkbox-sborka {
    padding-left: 25px;
    line-height: 1.2;
}
.checkbox-sborka:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    top: 6.5px;
    padding-top: 2px;
}
input[type=checkbox]:checked+.checkbox-sborka:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 12px;
    color: #4a76a8;
    text-align: center;
    line-height: 16px;
    border: 1px solid #ccc;
    padding-top: 0px;
    padding-left: 2px;
}
.upload-file-cont {
    border: 1px solid #ccc;
    padding: 10px 15px;
    padding-bottom: 0;
    margin-bottom: 15px;
}
.upload-file-cont input.form-control {
    margin-bottom: 15px;
}
.bottom-instruction p {
    margin-bottom: 0;
}
/*END LOAD DATA MAKET*/

#onorders .modal-body .table-responsive {
    max-height: 600px;
    max-height: 70vh;
    overflow-y: auto;
}
.modal-header {
    padding: 10px 15px;
}
#newposhta .alert.alert-warning {
    margin-left: -30px;
}
.btn-light-gray:hover,
.btn-gray:hover,
.btn-light-gray.disabled:hover {
    background-color: #4a76a8;
    border-color: #4a76a8;
    opacity: 1;
}
#maketlink_disc,
#maketlink_disc>span,
#maketlink_disc>a {
    color: #4a76a8!important;
}
.no_text_decor:hover {
    text-decoration: none;
}
/*TABLE CALL STYLE*/

#table_call_1 {
    table-layout: fixed;
    width: 100%;
}
#table_call_1 td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/*END TABLE CALL STYLE*/
/*ORDERS BASKET STYLE*/

.row_wrap [deliv] {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
[deliv_skl]:nth-child(1),
[deliv_ink]:nth-child(1),
[deliv_kiev]:nth-child(1),
[deliv_np]:nth-child(1) {
    border-top: 1px solid #e5e5e5;
}
.row_wrap [deliv_skl]:nth-last-child(1),
.row_wrap [deliv_ink]:nth-last-child(1),
.row_wrap [deliv_kiev]:nth-last-child(1),
.row_wrap [deliv_np]:nth-last-child(1) {
    border-bottom: 1px solid #e5e5e5;
}
.full_height {
    border-right: 1px solid #e5e5e5;
}
.full_height2 {
    border-left: 1px solid #e5e5e5;
}
.row_wrap {
    position: relative;
    background: #fff;
    margin-top: 15px;
    padding: 20px 0;
}
.ml_15 {
    margin-left: 15px;
}
.basket-info.info_pay {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 0;
}
.basket-info.info_pay:hover strong {
    color: #4a76a8;
}
.basket-container .datepicker.dropdown-menu {
    min-width: 0;
}
.basket-container .a_black {
    color: #666;
    font-size: 12px;
}
.basket-container .a_black:hover {
    color: #666;
    text-decoration: none;
}
.basket-container .a_black:focus {
    color: #666;
    text-decoration: none;
}
.a_black2 {
    color: #e5e5e5;
    font-size: 12px;
}
.a_black2:hover {
    color: #e5e5e5;
    text-decoration: none;
}
.a_black2:focus {
    color: #e5e5e5;
    text-decoration: none;
}
.span_f_z {
    font-size: 28px;
    color: #4a76a8;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -20px;
}
.pr_block {
    position: absolute;
    left: 50%;
    margin-left: -11px;
    bottom: 0;
    margin-bottom: -10px;
}
/*END ORDERS BASKET STYLE*/
/*BONUSES PAGE STYLES*/

.bonuses-table td {
    text-align: center;
}
.btn-obmen.btn.disabled,
.btn-obmen.btn.disabled:hover {
    background-color: #666!important;
    border-color: #666!important;
    cursor: not-allowed!important;
}
.container-forms {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.wrapper-bonuces {
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
}
.btn-obmen {
    min-width: 190px;
}
.bonuses-table th:focus {
    outline: none!important;
}
table.dataTable.bonuses-table thead .sorting_asc {
    background-image: url(http://sborka.ua/cside/img/caret-up.svg)!important;
    background-size: 18px;
}
table.dataTable.bonuses-table thead .sorting_desc {
    background-image: url(http://sborka.ua/cside/img/caret-down.svg)!important;
    background-size: 18px;
}
/*END BONUCES PAGE STYLE*/
/*MODAL STYLES*/

.modal-body>form,
.modal-body>form>div.form-group:last-of-type {
    margin: 0;
}
/*END MODAL STYLES*/
/*MEDIA STYLES*/

@media screen and (max-device-width: 768px) {
    .messages-table-div .table-messages-body {
        padding: 0;
        padding-top: 15px;
    }
}
@media screen and (max-device-width: 991px) {
    .text-left-xs {
        text-align: left;
    }
}
@media (min-width: 768px) {
    .messages-table-div {
        table-layout: fixed;
        display: table;
        width: 100%;
    }
    .table-messages-control-menu {
        width: 20%;
    }
    .table-messages-body {
        width: 80%;
    }
    .finance-section .outer.first {
        margin-right: 20px;
    }
    .finance-section .outer.second {
        margin-left: 20px;
    }
    .table-responsive-new {
        overflow-x: visible;
    }
    .row>.div_example:first-child,
    .row>.div_example:nth-child(4),
    .row>.div_example:nth-child(7),
    .row>.div_example:nth-child(10),
    .row>.div_example:nth-child(13),
    .row>.div_example:nth-child(16),
    .row>.div_example:nth-child(19),
    .row>.div_example:nth-child(22),
    .row>.div_example:nth-child(25) {
        padding-left: 0;
    }
    .row>.div_example:last-child,
    .row>.div_example:nth-child(3),
    .row>.div_example:nth-child(6),
    .row>.div_example:nth-child(9),
    .row>.div_example:nth-child(12),
    .row>.div_example:nth-child(15),
    .row>.div_example:nth-child(18),
    .row>.div_example:nth-child(21),
    .row>.div_example:nth-child(24) {
        padding-right: 0;
    }
    .form-inline .form-control.input-from-modal-window {
        width: 75%;
    }
    .btn-from-modal-wind {
        width: 22%;
        float: right;
        margin: 0px;
        margin-right: 10px;
        border: 0;
        min-width: 43px!important;
    }
}
@media (min-width: 991px) {
    .mg-xs-10-b {
        margin-bottom: 0;
    }
    .wd-md-12 {
        width: 12%!important;
    }
    .pd-md-30-l {
        padding-left: 30px;
    }
    .pd-md-35-l {
        padding-left: 35px;
    }
    .pd-md-30-r {
        padding-right: 30px;
    }
    .pad-md-15-r {
        padding-right: 15px;
    }
    .pd-md-15-l {
        padding-left: 15px;
    }
    .lh-md-30 {
        line-height: 30px;
    }
    .form-row .form-group label {
        line-height: 30px;
    }
    .mg-md-15-l {
        margin-left: 15px!important;
    }
    .col-md-offset-name2-t {
        margin-left: 36.3%;
    }
    .col-md-offset-name3-t {
        margin-left: 57.5%;
    }
    .my-md-10 {
        width: 10.3333%;
    }
    .my-md-6 {
        width: 6%;
    }
    .my-md-73 {
        width: 73.3334%;
    }
    .btn-cont-filter {
        padding-left: 30px;
    }
    #fs>li:last-child {
        padding-left: 15px;
    }
    .a_no_hover {
        border: none !important;
        position: relative;
        height: 175px;
    }
    .a_no_hover img {
        width: 100%;
        max-height: 175px;
    }
    /*Ð¤Ð˜ÐÐÐÐ¡Ð« Ð¡Ð¢Ð˜Ð›Ð˜ ÐŸÐš*/
    .fa_popover_22 {
        display: inline-block;
    }
    .finance-section .btn-button {
        min-width: 100%;
        width: 100%;
        height: 30px;
        margin: 0;
        padding: 0;
    }
    .finance-section .form-with-date {
        margin: 0;
        margin: 5px 0;
    }
    .finance-section .form-with-date label {
        text-align: center;
        font-weight: normal;
        font-size: 14px;
    }
    .finance-section .form-with-date .form-control {
        width: 100%;
        text-align: center;
    }
    /*PAGE ORDER > LOAD MAKET PC STYLE*/
    
    .front-preview-cont {
        padding-right: 25px;
    }
    .back-preview-cont {
        padding-left: 25px;
    }
    /*END MAKET*/
    /*MAIN PAGE PRODUCT PC STYLE*/
    
    div.row>div.div_example {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    .row>.div_example:first-child,
    .row>.div_example:nth-child(7),
    .row>.div_example:nth-child(13),
    .row>.div_example:nth-child(19),
    .row>.div_example:nth-child(25) {
        padding-left: 0!important;
    }
    .row>.div_example:last-child,
    .row>.div_example:nth-child(6),
    .row>.div_example:nth-child(12),
    .row>.div_example:nth-child(18),
    .row>.div_example:nth-child(24) {
        padding-right: 0!important;
    }
    /*END MAIN PRODUCTS*/
    /*FAVORITS STYLE PC*/
    
    .favor .menu-control-cat,
    .favor .search-filter-favorit {
        margin-top: 0px;
    }
    .favor .menu-control-cat {
        border: 1px solid transparent;
        padding-right: 25px;
    }
    .favor .filter-favorit-block {
        padding-right: 30px;
    }
    /*END FAVORITS STYLE PC*/
}