body {
    font-size: 14px;
}
/*STYLE FOR WIDTH PADDING MARGIN**/

.mg-0 {
    margin: 0!important;
}
.w-22 {
    width: 22%;
}
.w-11 {
    width: 12.125%;
}
.w-56 {
    width: 54.05%;
}
.w-9_3 {
    width: 9%;
}
.w-14 {
    width: 15.568%;
}
.w-17 {
    width: 17.6515%;
}
.w-14_o {
    width: 11.555%; 
}
.w-m {
    width: 12.125%;
}
.w-mt {
    width: 15.5698%;
}
.w-14_1 {
    width: 18.125%;
}
.w-14_1_m_d {
    width: 18.125%;
}
.w-18_1 {
    width: 18.01044%;
}
.w-11_99 {
    width: 11.9934%;
}
.w-18-w {
    width: 17.9775%;
}
.w-19-w {
    width: 15.378%;
}
.w-33 {
    width: 34.125%;
}
.no-mt {
    margin-top: 0;
}
.pdl-0 {
    padding-left: 0px;
}
.pdl-30 {
    padding-left: 30px;
}
.calculate {
    width: 13.593%;
}
/*NEW STYLES TABLE(FOR WIDTH)*/

.shf-w-14 {
    width: 14%;
    white-space: normal!important;
    overflow: hidden;
}
.shf-w-10 {
    width: 10.25%;
}
/**/

.info-instruction {
    display: none;
}
.scrollToTop {
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
}
.scrollToTop i {
    line-height: 35px;
    font-size: 24px;
}
.chosen-container-single .chosen-drop {
    margin-top: 0!important;
    padding-top: 3px;
}
.btn-default {
    border-color: #4a76a8;
}
.chosen-container .chosen-results {
    padding-left: 0.5px;
    margin-right: 0.3px;
}
.new_td select {
    width: 61px;
}
.fotorama__thumb-border {
    border-color: #525252!important;
}
#pricefilters {
    margin-top: 0;
}
.info_pay {
    cursor: pointer;
    margin-top: 0;
    /*        margin-bottom: 0;*/
}
.info_pay:hover strong {
    color: #4a76a8;
}
.new-head-modal .modal-title {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}
.input_wide_sets {
    height: 28px;
    /*    z-index: 3!important;*/
    
    border-color: #ccc;
}
.input_wide_sets:focus {
    border-color: #aaa;
}
.fotorama__nav-wrap {
    margin-top: 20px;
}
.close_new {
    color: #fff;
    opacity: 0.8;
    text-shadow: none;
}
.close_new:hover {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}
.light_gray:hover {
    color: #fff;
}
.light_gray {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #333;
}
.a-no-decor:hover,
.a-no-decor:focus {
    text-decoration: none;
    color: #4a76a8!important;
}
.modal-header {
    padding: 10px 15px;
}
.modal-info-container .modal-body {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 20px;
}
.modal-info-container .modal-body>.row {
    margin-top: 20px;
}
.modal-info-container .tab-content {
    margin-bottom: 0;
    padding-bottom: 0;
}
.modal-info-container>.modal-content>.modal-body>.tabs-style-2>.tab-content {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.modal-info-container .table-responsive {
    margin-bottom: 0px;
}
.modal-info-container.galleria-modal-dialog .modal-body {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.not-for-mobile {
    display: none;
}
/*END STYLE FOR WIDTH PADDING MARGIN**/

.galleria-thumbnails {
    margin: 0 auto;
}
.repeat_prev_img{
    max-height: 240px;
}
/*STYLE PEVIEW PRODUCT*/

.bigovka_line {
    position: absolute;
    height: 100%;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #c1c1c1;
    top: 0;
}
.bigovka_line_horiz {
    position: absolute;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #c1c1c1;
    left: 0;
}
.perf_line {
    position: absolute;
    height: 100%;
    border-left: 1px dashed #b1b1b1;
    border-right: 1px dashed #ffffff;
    top: 0;
}
.perf_line_horiz {
    position: absolute;
    width: 100%;
    border-top: 1px dashed #b1b1b1;
    border-bottom: 1px dashed #ffffff;
    left: 0;
}
.img_bigfalc {
    position: absolute;
    top: -5px;
    width: 34px;
}
.img_bigfalc_horiz {
    position: absolute;
    left: -1px;
    height: 34px;
}
.bl_plotporez {
    left: 7%;
    top: 10%;
    position: absolute;
    width: 86%;
    height: 80%;
    border: 1px dashed #ccc;
    border-radius: 30px;
}
.bl_sverl {
    position: absolute;
    background: white;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.div_displ_post {
    position: absolute;
    line-height: normal;
    font-size: 14px;
}
#rectangle {
    border: 1px solid #e0e0e0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
#rectangle img {
    max-width: none;
}
#rectangle .razmer_text {
    z-index: 1;
    position: relative;
}
/*END STYLE PREVIEW*/
/*ALL PAGE STYLE*/

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Calibri;
}
.page-wrapper {
    background-color: #f0f0f0 !important;
}
p {
    margin: 0;
}
.container-main-top-block,
.cover_vn-block,
#price,
.table-sborka-red {
    box-shadow: 0 1px 1px 0 #ccc;
}
.modal-wrap {
    margin-top: 20px;
    border-top: 1px solid #4a76a8;
    padding-top: 20px;
}
/*TABLE STYLE*/

#price table {
    table-layout: fixed;
}
#price>table {
    min-width: 800px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-bottom: 0;
    border-bottom: 0px;
}
#price>table table {
    margin-bottom: 0;
    border-bottom: 0px;
}
#price thead td,
#price thead th {
    font-weight: bold;
    background-color: #4a76a8;
    color: #fff;
}
#price td {
    vertical-align: middle;
}
#price td.calculate {
    padding: 0!important;
}
#price td.calculate a {
    padding: 10px 0;
    display: block;
}
#price td.calculate:hover {
    background-color: #4a76a8;
}
#price td.calculate:hover a {
    text-decoration: none;
}
#price td.no-hover:hover {
    background-color: #f5f5f5;
}
/*ADD BORDER*/

#price>table>thead>tr.head-t>td:not(:last-child) {
    border-right: 1px solid #fff;
}
#price>table>thead>tr.head-t>td:last-child {
    border-bottom: 1px solid #fff;
}
#price>table>tbody>tr>td {
    border-top-color: #B0B0B0;
    overflow: hidden;
}
#price>table>tbody>tr:last-child>td {
    border-bottom: 1px solid #B0B0B0;
}
#price>table>tbody>tr>td:first-child {
    border-right: 1px solid #B0B0B0;
    white-space: normal;
    padding: 0;
    padding-left: 20px;
}
#price>table>tbody>tr>td:last-child {
    padding: 0;
}
#price>table>tbody>tr>td>.table-for-colors>tbody>tr:not(:last-child):not(.last-color)>td {
    border-bottom: 1px solid #EBEBEB;
}
#price>table>tbody>tr>td>.table-for-print>tbody>tr:not(:last-child):not(.last-print)>td {
    border-bottom: 1px solid #EBEBEB;
}
#price>table>tbody>tr>td>.table-for-print>tbody>tr>td:first-child {
    border-right: 1px solid #B0B0B0;
}
#price>table>tbody>tr>td>.table-for-colors>tbody>tr>td:first-child {
    border-right: 1px solid #B0B0B0;
}
#price>table>tbody>tr>td>.table-for-colors>tbody>tr>td>table>tbody>tr>td:first-child {
    border-right: 1px solid #B0B0B0;
}
#price>table>tbody>tr>td>.table-for-print>tbody>tr>td>table>tbody>tr>td:first-child {
    border-right: 1px solid #B0B0B0;
}
#price.load-active .chosen-container .chosen-drop {
    display: none;
}
/*END ADD BORDER*/

.table-responsive-new {
    overflow-x: auto;
}
/*OTHER TABLE STYLE*/

.tirragez>td>.tirazh {
    background-color: #f2f2f2;
    color: #333;
    box-shadow: none!important;
    outline: 0!important;
}
.tirragez>td>.tirazh:focus {
    background-color: #f2f2f2;
    border: 1px solid #ccc !important;
    box-shadow: none!important;
    outline: 0!important;
}
.tooltip_price_srok {
    background-color: #f0f0f0 !important;
    width: 18px;
    height: 18px;
    padding-top: 2px;
    display: none;
    line-height: 15px;
    cursor: help;
    border-radius: 50%;
}
.name_mat {
    font-size: 13px;
    line-height: 1.2;
    color: #333;
    font-weight: 500;
}
.name-color {
    font-size: 13px;
    font-weight: 500;
}
.sel_tirazh {
    cursor: pointer;
}
/*TABLE SBORKA*/

table.table-sborka-red {
    margin-bottom: 0;
    border: none;
    border-top: 1px solid #B0B0B0!important;
}
table.table-sborka-red thead td,
table.table-sborka-red thead th {
    background-color: #fff!important;
    color: #333;
    border-color: #B0B0B0!important;
}
table.table-sborka-red td {
    border-color: #B0B0B0!important;
}
table.table-sborka-red>thead th,
table.table-sborka-red>tbody>tr td {
    vertical-align: middle;
    text-align: center;
}
table.table-sborka-red>thead>tr>th:first-child,
table.table-sborka-red>tbody>tr>td:first-child {
    padding-left: 20px;
    text-align: left;
}
table.table-sborka-red>thead>tr>th.text-centr {
    text-align: center;
}
.tr_divider {
    height: 20px;
    opacity: 0;
}
/*END TABLE STYLE*/
/*TOP SECTION*/

.pils-select-type>li>a {
    background-color: #f2f2f2;
    color: #333;
    margin-right: 4px;
    border-color: #ccc;
    min-width: 160px;
    font-weight: 500;
    text-align: center;
}
.pils-select-type > li.active > a,
.pils-select-type > li.active > a:hover,
.pils-select-type > li.active > a:focus,
.pils-select-type > li > a:hover,
.pils-select-type > li > a:focus {
    background-color: rgb(74, 118, 168);
    border-color: rgb(74, 118, 168);
    color: #fff;
}
.download-block {
    height: auto!important;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.download-block a {
    color: #333;
}
.download-block a i {
    color: #4a76a8;
}
.galleria.megaslide {
    height: 223px;
    padding-right: 20px;
    overflow: hidden;
}
#easy_zoom img,
#easy_zoom_uv img,
#easy_zoom_holst img {
    max-width: none;
}
.im_z {
    border: 1px solid #d3d3d3;
}
#easy_zoom,
#easy_zoom_uv,
#easy_zoom_holst {
    width: 500px;
    height: 300px;
    border: 5px solid #eee;
    background: #fff;
    color: #333;
    position: absolute;
    top: 20px;
    left: 3px;
    overflow: hidden;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
    line-height: 400px;
    text-align: center;
}
#easy_zoom_uv {
    top: -300px;
    left: -520px;
}
/*END TOP SECTION*/
/*TOP BLOCK CONTAINER STYLE*/

.digital-product-select.mobile-control .icon-drop,
.wide-product-select.mobile-control .icon-drop {
    margin-right: 10px;
}
/*NAVBAR*/

.navbar-filter {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}
.navbar-filter .header-sizes {
    margin-bottom: 15px;
}
.navbar-filter .header-sizes p {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
}
.navbar-filter .group-result {
    text-transform: uppercase;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}
.navbar-filter .sizes-select .chosen-container {
    font-size: 14px;
}
.navbar-filter .sizes-select:not(.test) .chosen-results {
    max-height: 400px!important;
}
.navbar-filter .my-size,
.my-size-price {
    background: #fff;
}
.navbar-filter .my-size .chosen-container-single .chosen-single span,
.my-size-price .chosen-container-single .chosen-single span {
    margin-right: 18px;
    font-size: 14px;
    line-height: 20px;
}
.navbar-filter .my-size .minitext,
.my-size-price .minitext {
    color: #333;
    padding: 0;
    line-height: 29px!important;
}
.navbar-filter .my-size .input_size::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
.navbar-filter .my-size .input_size::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
.navbar-filter .my-size .input_size:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
.navbar-filter .my-size .input_size:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.navbar-filter .my-size .input_size,
.my-size-price .input_size {
    background-color: #fff!important;
    box-shadow: none!important;
    text-align: center;
    font-size: 14px;
    padding-right: 12px;
    color: #333;
    border: 1px solid #ccc!important;
    height: 29px!important;
}
.navbar-filter .my-size .show_price,
.my-size-price .show_price {
    margin-top: 5px;
}
.navbar-filter .my-size .show_price.not-active,
.my-size-price .show_price.not-active,
.my-size-price .show_price.first-btn-click {
    background-color: #666;
    color: #fff;
    opacity: 0.7;
}
.navbar-filter .my-size .show_price.not-active,
.my-size-price .show_price .show_price.not-active {
    cursor: not-allowed;
}
.navbar-filter .my-size .show_price.not-active:hover,
.navbar-filter .my-size .show_price.not-active:focus,
.my-size-price .show_price.not-active:hover,
.my-size-price .show_price.not-active:focus,
.my-size-price .show_price.first-btn-click:focus {
    background-color: #666;
    outline: none;
    color: #fff;
    opacity: 0.7;
}
.navbar-filter .my-size .show_price.not-active:hover,
.navbar-filter .my-size .show_price.not-active:focus,
.my-size-price .show_price.not-active:hover,
.my-size-price .show_price.not-active:focus {
    cursor: not-allowed;
}
.navbar-filter .my-size .cont-choose,
.my-size-price .cont-choose {
    padding-left: 25px;
}
.navbar-filter .my-size .cont-choose .chosen-container,
.my-size-price .cont-choose .chosen-container {
    min-width: 0 !important;
}
.navbar-filter .my-size .cont-choose.q1 .chosen-containe,
.my-size-pricer .cont-choose.q1 .chosen-containe {
    min-width: 127px !important;
}
.navbar-filter .my-size .cont-choose .chosen-container-single .chosen-single,
.navbar-filter .my-size .cont-choose .chosen-container .chosen-drop,
.my-size-price .cont-choose .chosen-container-single .chosen-single,
.my-size-price .cont-choose .chosen-container .chosen-drop {
    color: #333!important;
    font-size: 14px;
}
.navbar-filter .my-size .cont-choose .chosen-container-single .chosen-single div b,
.my-size-price .cont-choose .chosen-container-single .chosen-single div b {
    background: url(../../js/chosen/chosen-sprite.png) no-repeat 2px 5px;
}
.navbar-filter .my-size .cont-choose .chosen-container-active.chosen-with-drop .chosen-single div b,
.my-size-price .cont-choose .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -16px 3px;
}
#tst {
    position: relative;
    overflow: hidden;
    border: none;
}
.text_anim_butt {
    position: absolute;
    left: 50%;
    z-index: 1000;
    top: 50%;
    margin-top: -10px;
    margin-left: -38px;
}
.anim_blesk {
    width: 70px;
    border-radius: 5px;
    height: 150%;
    position: absolute;
    top: -30%;
    left: -100px;
    opacity: 0.6;
    transform: rotate(20deg);
    background: rgb(204, 0, 0);
    background: -moz-linear-gradient(left, rgba(204, 0, 0, 1) 0%, rgba(255, 196, 196, 1) 50%, rgba(204, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(204, 0, 0, 1) 0%, rgba(255, 196, 196, 1) 50%, rgba(204, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(204, 0, 0, 1) 0%, rgba(255, 196, 196, 1) 50%, rgba(204, 0, 0, 1) 100%);
}
#btn-cont-show-price {
    text-align: center;
}
.show_price {
    display: inline-block;
    margin: 0!important;
}
/*GALLERY*/

.gallery {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.gallery .img-preview {
    padding-left: 15px;
    padding-right: 15px;
}
.gallery .img-preview img {
    margin: 0 auto;
}
.gallery .row_perevorot {
    position: static;
    padding-top: 10px;
    width: 100%;
}
.gallery .rotate-maket {
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    opacity: 0.6;
    color: #333;
}
.rotate-maket:hover:not(.active_maket) {
    color: #4a76a8;
}
.gallery .wraper-refr {
    display: inline-block;
    padding: 0 3px;
    font-size: 18px;
    color: #4a76a8;
    opacity: 0.5;
    cursor: pointer;
    vertical-align: middle;
}
.gallery .active_maket {
    opacity: 1;
}
.gallery .wraper-refr:hover {
    opacity: 1;
}
/*INFORMATION BLOCK*/

.info-block {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    font-size: 14px;
}
.info-block .bg-info {
    padding-top: 15px;
    padding-bottom: 15px;
}
.info-block a.icon_exel,
.info-block a.icon_print,
.info-block a.icon_pdf,
.info-block a.icon_word,
.info-block a.icon_discount {
    color: #333;
    font-size: 14px;
}
/*OPTION + FILTER CONTAINER STYLE*/

.cover_vn-block {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
.header-opt {
    font-size: 22px;
    font-weight: 500;
}
.header-opt.no-mobile-drop {
    padding-bottom: 12.5px;
}
.preview-header {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    line-height: 32px;
}
.cover_vn-block .name-cover {
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 0px;
    /*    padding-left: 20px;*/
    
    color: #333;
    position: relative;
    font-size: 14px;
}
.select-hidden {
    padding-bottom: 15px;
}
/*END OPTION + FILTER CONTAINER STYLE*/
/*OPTION STYLE*/

.checkbox-post {
    display: inline-block;
    width: auto;
    font-weight: 500;
    padding: 0!important;
    margin: 0;
    cursor: pointer;
}
.checkbox-post:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    top: 6.5px;
    padding-top: 2px;
}
.check-postwork:disabled+.checkbox-post:before,
.check-postwork:disabled+.checkbox-post,
.show-post:disabled+.checkbox-post {
    opacity: 0.5;
    cursor: not-allowed;
}
.show-post:checked+.checkbox-post:before,
.check-postwork:checked+.checkbox-post:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 10px;
    color: #4a76a8;
    text-align: center;
    line-height: 13px;
    border: 1px solid #ccc;
    padding-top: 0px;
    padding-left: 2px;
}
.selected-show {
    display: none;
}
.two-chosen .chosen-container {
    min-width: 0!important;
}
.luvers-kompl-select {
    margin-top: 10px;
}
.sel-pr>.pw-cont:not(:last-child) {
    margin-bottom: 10px;
}
.parametr-luvers:not(.block-plot):not(.picking-block):not(.block-cont-select) {
    padding-bottom: 15px;
}
.parametr-luvers.block-plot:not(.block-cont-select) {
    margin-bottom: 15px;
}
.parametr-luvers.block-plot .select-hidden {
    padding-bottom: 0;
}
.parametr-luvers {
    padding-left: 20px;
}
.btn_wide_sets {
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    border-color: #ccc;
}
.btn_wide_sets:hover {
    background-color: #4a76a8;
    border-color: #4a76a8;
    color: #fff;
}
.btn_wide_sets:disabled,
.btn_wide_sets:disabled:hover {
    background-color: #eee;
    color: #333;
    opacity: 0.5;
}
.two-chosen .chosen-container {
    min-width: 0!important;
}
#text_info_sets {
    display: none;
}
/*END OPTION STYLE*/
/*POPOVER STYLE*/

.fa_popover {
    font-size: 24px!important;
    color: #666;
    opacity: 0.5;
    cursor: pointer;
}
.fa_popover.fa-stack {
    font-size: 13px!important;
}
.head-t .fa_popover {
    color: #fff;
}
.fa_popover:hover {
    opacity: 1;
}
.info-cont .fa_popover:not(.fa-stack) {
    line-height: 30px;
}
.body-popover {
    width: 54%;
}
.popover {
    border-radius: 0px;
}
.popover {
    background-color: #fff;
    /*        font-size: 13px;*/
    
    color: #333!important;
}
.popover.top>.arrow:after {
    border-top-color: #fff;
}
.popover.right>.arrow:after {
    border-right-color: #fff;
}
.popover-cont {
    float: left;
    display: inline-block;
    text-align: center;
}
.popover-content {
    text-align: center;
}
.popover-in {
    margin-right: -10px;
    margin-left: -10px;
    font-size: 12px;
}
.popover-in span {
    font-size: 14px;
}
/*END POPOVER*/
/*MODAL STYLE*/

.size-info {
    font-size: 15px;
    /*    padding-bottom: 20px;*/
    
    line-height: 1;
}
.modal-header {
    padding-left: 20px;
}
.modal-body {
    padding: 20px;
}
/*END MODAL STYLE*/
/*FILTER STYLE*/

.left-filter {
    width: 100%;
    height: 45px;
    position: relative;
}
.right-filter {
    width: 100%;
}
.left-filter,
.right-filter {
    float: left;
}
.cont-control>.t_greyblock:not(:last-child) {
    margin-bottom: 10px;
}
.t_switchable {
    width: 33.33333%;
    height: 45px;
    /*        overflow: hidden;*/
    
    float: left;
    display: block;
    padding-bottom: 5px;
    padding-left: 5px;
}
.t_switchable input {
    display: none;
}
.t_switchable label.t_plot,
.t_switchable .imitate-check {
    display: block;
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    height: 40px;
    display: table;
    background-color: #f2f2f2;
    padding: 0!important;
    margin: 0;
}
.filter-name {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.4!important;
}
.t_switchable.left-filter-switch {
    width: 100%!important;
    position: absolute;
    height: 100%!important;
    padding-left: 0px;
}
.t_switchable .t_plot {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.t_switchable:not(.left-filter-switch) .t_plot .filter-name {
    white-space: nowrap;
}
.t_switchable.left-filter-switch .t_plot {
    height: 100%!important;
    text-transform: uppercase;
}
.t_switchable.left-filter-switch .t_plot .filter-name {
    text-align: center;
}
.t_switchable input:checked+.t_plot,.t_switchable .t_plot:hover,
.t_switchable .imitate-check {
    background-color: #4a76a8;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.t_switchable .t_plot:hover{
    background-color: #666;
}
.t_switchable .imitate-check:hover {
    background-color: #f2f2f2;
    color: #333;
}
.blocked-check {
    cursor: not-allowed!important;
}
.t_switchable input:disabled+.t_plot,
.t_switchable input:disabled+ .t_plot:hover,
.t_switchable.imitate-disabled .t_plot {
    background-color: #d8d8d8!important;
    color: #666!important;
    cursor: not-allowed!important;
}
.t_switchable:nth-child(3n+1),.header-sizes .t_switchable{
    padding-left: 0px;
}
.show-element .t_switchable{
    padding-left: 5px;
}
.size-type-select {
    width: 100%;
}
.size-type-select .t_switchable {
    width: 50%!important;
    height: 40px;
    padding-left: 0px;
    padding-bottom: 0px;
    display: block;
}
.size-type-select>.t_switchable:last-child {
    padding-left: 2.5px;
}
.size-type-select>.t_switchable:first-child {
    padding-right: 2.5px;
}
.tooltip_img {
    display: none;
}
.digital-filter:not(.sel-konvert) .vkonv {
    display: none;
}
.digital-filter.sel-konvert .konv {
    display: none;
}
/*.new-item+label.t_plot:after {
    content: 'NEW';
}*/
.show-elements.active {
    position: relative;
}
.cover_vn-block {
    position: relative;
}
.show-elements.active .t_plot:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -1.5px;
    top: -5px;
    border-bottom-color: #fff;
    z-index: 47;
    background-color: #fff;
}
.show-elements .t_plot>.filter-name {
    position: relative;
    z-index: 33;
}
.show-elements.active .t_plot>.filter-name {
    background-color: #4a76a8!important;
    color: #fff!important;
    z-index: 48;
}
.t_switchable input:not(:checked)+.t_plot,
.t_switchable.show-elements:not(.active) .t_plot,
.t_switchable .imitate-check {
    border: 0.5px solid #c8c7c7;
}
.t_switchable:not(.imitate-disabled):hover .t_plot {
    border-color: transparent;
}
.showed-menu .inside-blur-block {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    opacity: .5;
    bottom: 0px;
    background-color: #000;
    z-index: 32;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.t_switchable.show-elements:not(.imitate-disabled):hover .t_plot>.filter-name {
    color: #fff!important;
    background-color: #4a76a8;
}
.show-elements:not(.have-selected) .t_plot .after {
    display: none;
}

.showed-menu .after {
    visibility: hidden;
}
.show-elements.have-selected .t_plot .after,.after2 {
    display: inline-block;
    position: absolute;
    right: -4px;
    top: -4px;
    font-weight: 500;
    background-color: #fff;
    padding: 0px 2px;
    border-radius: 0px;
    font-size: 10px;
    line-height: 1.2;
    border: 0.5px solid #f2f2f2;
    color: #c00;
}
.colors+.t_plot{
	position: relative;
}
.show-elements.have-selected .t_plot .after+.after2,.showed-menu .after2{
	display: none;
}
.show-element {
    left: 0;
    position: absolute;
    top: 45px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 20px;
    z-index: 35;
    background-color: #fff;
    max-width: 100%;
}
.preVis {
    opacity: 0;
}
.no_border_bottom{
    border-bottom: none!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}
.no_border_bottom .t_switchable{
    padding-bottom: 0px!important;
    height: 40px;
}
.no_border_bottom .left-filter{
    height: 40px;
}
.time-select{
    border-top: 0.5px solid #ddd;
    padding-top: 7.5px;
    margin-top: 7.5px;
}
/*RESET BUTTON*/

.btn-filter-reset {
    background: #f2f2f2;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    opacity: 1;
    margin-top: 4.5px;
}
.reset_no_active {
    outline: none;
    opacity: 0.4;
    cursor: not-allowed;
}
.btn-filter-reset:not(.reset_no_active):hover {
    background: #4a76a8;
    color: white;
    border: 1px solid #4a76a8;
}
/*END RESET BUTTON*/
/*END FILTER STYLE*/
/*BUTTON HEAD TABLE TIRR*/

.i_radio {
    display: none;
}
.new_radio2 {
    text-align: center;
    width: 50px;
    float: right;
    height: 22px;
    padding-top: 4px;
}
.wrap_radio2 {
    display: inline-block;
    width: 35px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.polosa2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 52%, rgba(246, 246, 246, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 52%, rgba(246, 246, 246, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 52%, rgba(246, 246, 246, 1) 100%);
}
.krug2 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 50%;
    margin-top: -10px;
    background: #fff;
    border: 1px solid #bbb;
}
.t_one {
    opacity: 0.5;
}
.radio_bg2 {
    background: #fff;
    border: none;
}
/*END BUTTON HEAD TABLE TIRR*/
/*ONLY FOR MOBILE STYLE*/

.mobile-droped {
    display: none;
    padding-top: 12.5px;
}
.icon-drop {
    font-size: 10px;
    display: inline-block;
    color: #4a76a8;
    line-height: 30px;
}
/*END ONLY FOR MOBILE STYLE*/
/*STYLE WIDE*/
/*NAVBAR SELECT TYPE PRODUCT STYLE*/

.navbarwide {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px 0 #ccc;
}
.navbarwide .navbarwide-items {
    height: 175px;
    width: 47.9166665%;
    margin-right: 4.166667%;
    margin-bottom: 13.750px;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    float: left;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navbarwide>.row>.mobile-droped>.navbarwide-items:nth-child(2n) {
    margin-right: 0;
}
.navbarwide>.row>.mobile-droped>.navbarwide-items:last-child,
.navbarwide>.row>.mobile-droped>.navbarwide-items:nth-child(6) {
    margin-bottom: 0;
}
.navbarwide .navbarwide-items a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding: 0px 10px;
    padding-bottom: 10px;
}
.navbarwide .navbarwide-items a>span {
    display: block;
    padding-top: 10px;
}
.navbarwide .navbarwide-items a img {
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.navbarwide .navbarwide-items:hover,
.navbarwide .navbarwide-items.active {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ccc;
    background-color: #fff;
}
.navbarwide .navbarwide-items:hover a,
.navbarwide .navbarwide-items.active a {
    text-decoration: none;
    color: #4a76a8;
}
.navbarwide .navbarwide-items:hover a img,
.navbarwide .navbarwide-items.active a img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/*END NAVBAR SELECT TYPE PRODUCT */
/*END STYLE WIDE*/
/*BROCHURE STYLES*/

.brochure-blokpick #canvas {
    position: relative;
    margin: 0 auto;
    background-image: url('http://sborka.ua/cside/img/broshura_skoba.png');
    background-size: 100% 100%;
}
.brochure-blokpick #blockpic {
    position: relative;
    min-height: 230px;
    min-width: 240px;
    max-width: 290px;
    margin: 0 auto;
}
.brochure-blokpick .can_width {
    position: absolute;
    top: 50%;
    left: -50px;
    margin-top: -5px;
}
.brochure-blokpick .can_height {
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -10px;
}
.brochure-blokpick .can_name {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60%;
    margin-top: -5px;
}
.brochure-blokpick .can_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../img/sborka.logo_1.svg");
    background-size: 100% 100%;
    left: 50%;
    top: 35%;
    margin-top: -25px;
    margin-left: -25px;
}
.brochure-blokpick.gallery .row_perevorot.disabled-rotate,
.gallery .row_perevorot.disabled-rotate span {
    cursor: not-allowed;
}
.brochure-blokpick.gallery .row_perevorot.disabled-rotate .wraper-refr:hover {
    opacity: 0.5;
}
/*END*/
/*GALLERY STYLE*/

.galleria.gallery-modal-small {
    height: 296px;
}
.galleria.gallery-modal-big {
    height: 296px;
}
.galleria-lightbox-shadow {
    background-color: transparent;
}
/*PRICE STYLE*/

.m_d_resset {
    cursor: pointer;
}
.block-size-price {
    padding: 10px 25px;
    background-color: #fff;
    margin-bottom: 20px;
}
.header-sizes-sel {
    padding-left: 20px;
}
.container-size-price {
    padding: 5px 20px;
}
.select-size-link {
    line-height: 40px;
    cursor: pointer;
}
.my-size-price {
    background-color: #f2f2f2;
}
.my-size-price {
    padding: 10px 20px;
    min-height: 164px;
}
.select-size-link label {
    background-color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0px;
    width: 100%;
    padding-left: 20px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
.select-size-link label:hover,
.select-size-check:checked + label {
    background-color: #4a76a8;
    border-color: #fff;
    color: #fff;
}
.size-text {
    padding-right: 20px;
    width: 76px;
    display: inline-block;
}
.my-size-price .chosen-container-single .chosen-single span {
    margin-right: 12px;
}
.header-my-size {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*CALENDARS STYLE*/

.block-img-radio {
    width: 85px;
    margin: 0 auto;
}
.addon-label {
    margin: 0;
    padding: 0!important;
    display: block;
}
.addon-label:before {
    top: 40%;
    line-height: 1;
}
.addon-label-block {
    width: 150px;
    text-align: center;
    padding-left: 20px;
}
.cover_vn-block .name-cover.calend-block-name {
    padding: 0;
}
.overlay-links.one_link {
    margin-left: -25px;
}
.individual-mat {
    margin-top: 15px;
}
/*END*/
/*PRODUCT STYLES*/

.types-prod {
    width: 100%;
    margin-top: 15px;
    background-color: #f2f2f2;
    cursor: pointer;
}
.types-prod.last-prod {
    margin-right: 0;
}
.body-types {
    padding-top: 15px;
    height: 215px;
    border: 1px solid transparent;
    border-top: none;
}
.new-prod .body-types {
    height: 265px;
}
.body-types i {
    vertical-align: middle;
}
.body-types p {
    padding-bottom: 3px;
}
.body-types p.top-content-types {
    padding-top: 5px;
    padding-bottom: 20px;
}
.types-prod.active .body-types,
.types-prod:hover .body-types {
    border-color: #ccc;
}
.header-mark {
    text-align: center;
    padding-bottom: 11.5px;
    padding-top: 11.5px;
    margin-top: 0;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #ddd;
    color: #333;
    font-weight: 500 !important;
}
.types-prod.active,
.types-prod:hover {
    background-color: #fff;
}
.prints-type > .types-prod:last-child {
    margin-right: 0;
}
.types-prod.active h2,
.types-prod:hover h2 {
    background-color: #4a76a8;
    color: #fff;
}
.fa-big-ico {
    font-size: 25px;
}
.body-types span {
    display: inline-block;
    float: left;
}
.body-types span.right-ico {
    padding-left: 10px;
}
.body-types p.top-content-types span.left-ico {
    width: 7.39644%;
}
.body-types p.top-content-types span.right-ico {
    width: 42.60356%;
    line-height: 25px;
}
.body-types p:not(.top-content-types) span.left-ico {
    width: 7.39644%;
    text-align: center;
}
.body-types p:not(.top-content-types) span.right-ico {
    width: 92.60355%;
    padding-top: 1px;
}
.digital-product-select .body-types {
    height: 67px;
}
.digital-product-select .prints-type>.types-prod,
.wide-product-select .prints-type>.types-prod {
    width: 100%;
    margin-right: 0;
}
.digital-product-select .prints-type>.types-prod,
.wide-product-select .prints-type>.types-prod {
    margin-top: 8.453px;
}
.wide-product-select .body-types {
    height: 83px;
}
.navbarwide .view-select-items {
    height: 290px;
}
.navbarwide .navbarwide-items label {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding: 0px 10px;
    cursor: pointer;
    padding-bottom: 10px;
}
.navbarwide .navbarwide-items label>span {
    display: block;
    padding-top: 10px;
}
.navbarwide .navbarwide-items label img {
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.navbarwide .navbarwide-items:hover label,
.navbarwide .navbarwide-items.active label {
    text-decoration: none;
    color: #4a76a8;
}
.navbarwide .navbarwide-items:hover a img,
.navbarwide .navbarwide-items.active label img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.asimetric-div {
    padding-top: 15px;
}
.asimetric-div .name-cover {
    padding-bottom: 0;
}
.asimetric-div input {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}
/*FAVORITS*/

.fav-item+label.t_plot {
    position: relative;
}
/*.fav-item+label.t_plot:after {
    display: inline-block;
    position: absolute;
    right: -4px;
    top: -4px;
    font-weight: 500;
    background-color: #fff;
    padding: 0px 2px;
    border-radius: 0px;
    font-size: 10px;
    line-height: 1.2;
    border: 1px solid #f2f2f2;
    color: #4a76a8;
}*/
.top-item+label.t_plot:after {
    content: 'TOP';
}
.eco-item+label.t_plot:after {
    content: 'Econom';
}
.std-item+label.t_plot:after {
    content: 'Standart';
}
.lux-item+label.t_plot:after {
    content: 'LUX';
}
.vip-item+label.t_plot:after {
    content: 'VIP';
}
.standart-postwork {
    color: #4a76a8;
}
.standart-postwork .name-cover,
.standart-postwork .chosen-readonly span,
.standart-postwork .chosen-single span {
    font-weight: 600;
    color: #4a76a8!important;
}
.standart-postwork .name-cover,
.standart-postwork .selected-show,
.standart-postwork .chosen-single span {
    opacity: 0.5;
}
.standart-postwork .chosen-readonly a {
    border-color: #4a76a8;
    opacity: 0.5;
}
.cont-control>.t_greyblock:not(:last-child) {
    margin-bottom: 7.5px;
    padding-bottom: 2.5px;
    position: relative;
    border-bottom: 0.5px solid #ddd;
}
/*END FAVORITS STYLES*/
/*END PRODUCT STYLES*/
/*ANIMATION STYLES*/

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}
@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.animated {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.animatedS {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.open {
    display: block;
}
.animated.open {
    visibility: hidden;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
.zoomIn {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
@keyframes slideMenuDown {
    from {
        visibility: visible;
        max-height: 0;
    }
    to {
        visibility: visible;
        max-height: 800px;
    }
}
.slideMenuDown {
    overflow: hidden;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-name: slideMenuDown;
    animation-name: slideMenuDown;
}
@keyframes slideMenuTop {
    from {
        visibility: visible;
        max-height: 800px;
    }
    to {
        visibility: hidden;
        max-height: 0px;
    }
}
.slideMenuTop {
    overflow: hidden;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-name: slideMenuTop;
    animation-name: slideMenuTop;
}
/*END ANIMATION STYLES*/

.hidden-by-lam {
    display: none;
}
.hidden-by-print {
    display: none;
}
.hiddenColor {
    display: none;
}
.showPost {
    display: block!important;
}
.tmpHide {
    display: none!important;
}
.tmpShow {
    display: block!important;
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
}
.disabledPost {
    opacity: 0.5;
    cursor: not-allowed;
}
.info-instruction:hover strong {
    color: #4a76a8;
}
div.chosen-readonly {
    opacity: 1 !important;
}
div.chosen-readonly.chosen-container-single .chosen-single div b {
    opacity: 0!important;
}
/*RADIO LABEL STYLES*/

.new_radio label {
    padding-left: 20px;
    font-weight: 500;
    cursor: pointer;
}
.new_radio label:before {
    font-family: "FontAwesome";
    content: "\f10c";
    font-size: 14px;
    color: #4a76a8;
    position: absolute;
    left: 1px;
    line-height: 27px;
}
.new_radio_no_ico {
    padding-left: 27px;
}
.new_radio_no_ico label {
    margin-bottom: 0;
}
.new_radio_no_ico label:before {
    line-height: 1.4;
}
.new_radio>input[type="radio"]:checked+label:before {
    content: "\f192";
}
.new_radio>input[type="radio"]:disabled+label {
    color: #ccc;
    cursor: not-allowed;
}
.new_radio>input[type="radio"]:disabled+label:before {
    color: #ccc;
}
/*END RADIO LABEL STYLES*/
/*FIGCUTTING STYLE*/

.download_shtamp {
    position: absolute;
    opacity: 0;
    top: 5px;
    right: 5px;
    line-height: 28px;
    width: 25px;
    height: 25px;
    background: rgba(51, 51, 51, 0.5);
    cursor: pointer;
}
.wrap_shtamp:hover .download_shtamp {
    opacity: 1;
    transition: 0.5s;
}
.download_shtamp>i {
    color: #fff;
}
.download_shtamp:hover {
    background: #333;
    transition: 0.5s;
}
.download_shtamp:not(:hover) {
    transition: 0.5s;
}
/*END FIGCUTTING STYLE*/
/*NEW CHOOSEN STYLE*/

.new_select .chosen-single {
    border: none;
    background-color: #4a76a8;
    color: #fff;
    transition: none;
}
.new_select .chosen-single div {
    background: none;
}
.new_select .chosen-single div b {
    padding-top: 3px;
    background: none;
}
.new_select.chosen-container-active.chosen-with-drop .chosen-single {
    border: none;
    background-color: #fff;
    color: #333;
}
.new_select.chosen-container-active .chosen-single {
    box-shadow: none;
}
.new_select .chosen-results {
    margin: 0 2px 2px 0;
    padding: 0 0 0 2px;
    max-height: 350px!important;
}
.new_select .chosen-results li {
    padding: 5px 2px;
}
.new_select .chosen-drop {
    border: none;
}
.new_td .chosen-rtl .chosen-search input[type="text"],
.new_td .chosen-container-single .chosen-single abbr,
.new_td .chosen-container-single .chosen-single div b,
.new_td .chosen-container-single .chosen-search input[type="text"],
.new_td .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.new_td .chosen-container .chosen-results-scroll-down span,
.new_td .chosen-container .chosen-results-scroll-up span {
    background-image: none!important;
}
/*END NEW CHOOSEN STYLE*/
/* BROCHURE STYLE BLOCKPIC*/
.brochure-style-page #canvas{
                            position: relative;
                            margin: 0 auto;
                            background-image: url('http://sborka.ua/cside/img/broshura_skoba.png');
                            background-size: 100% 100%;
                        }
                        .brochure-style-page #blockpic{
                            min-height: 200px;
                            min-width: 380px;
                            max-width: 420px;
                            position: relative;
                            margin: 0 auto;
                        }
                        .brochure-style-page .can_width{
                            position: absolute;
                            top: 50%;
                            left: -50px;
                            margin-top: -5px;
                        }
                        .brochure-style-page .can_height{
                            position: absolute;
                            left: 50%;
                            top: 100%;
                            margin-left: -10px;
                        }
                        .brochure-style-page .can_name{
                            position: absolute;
                            width: 100%;
                            text-align: center;
                            top: 60%;
                            margin-top: -5px;
                        }
                        .brochure-style-page .can_logo{
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            background-image: url(../img/sborka.logo_1.svg);
                            background-size: 100% 100%;
                            left: 50%;
                            top: 35%;
                            margin-top: -25px;
                            margin-left: -25px;
                        }
/*END BROCHURE STYLE BLOCKPIC*/
@media (min-width: 768px) {
    .info-instruction {
        display: block;
        margin-top: 0;
    }
    /*GALLERY STYLE*/
    
    .galleria.gallery-modal-small {
        height: 296px;
    }
    .galleria.gallery-modal-big {
        height: 550px;
    }
    .break-line-md {
        clear: left;
    }
    .table-responsive-new {
        overflow-x: visible;
    }
    /*PRODUCT STYLES*/
    
    .digital-product-select .prints-type>.types-prod,
    .wide-product-select .prints-type>.types-prod {
        margin-right: 1.3148%;
        width: 49.3426%;
    }
    .types-prod {
        margin-right: 1.3148%;
    }
    .new-prod .body-types {
        height: 215px;
    }
    .digital-product-select .prints-type>.types-prod:nth-child(2n),
    .wide-product-select .prints-type>.types-prod:nth-child(2n) {
        margin-right: 0;
    }
    /*END PRODUCT STYLES*/
}
@media screen and (max-device-width: 991px) {
    .selected-show {
        display: none!important;
    }
    .gallery .header-opt {
        margin-top: 0!important;
        padding-bottom: 0!important;
    }
}
@media (min-width: 991px) {
    #text_info_sets {
        display: block!important;
        opacity: 0.8;
    }
    /*STYLE FOR WIDTH PADDING MARGIN*/
    
    .w-22 {
        width: 22%;
    }
    .w-33 {
        width: 33.2%;
    }
    .w-11,
    .w-m {
        width: 11%;
    }
    .w-56 {
        width: 56%;
    }
    .w-9_3 {
        width: 9.33333%;
    }
    .w-14 {
        width: 14.121%;
    }
    .w-md-4 {
        width: 4%;
    }
    .w-14_o,
    .w-mt {
        width: 14.01874%;
    }
    .w-14_1 {
        width: 16.0869%;
    }
    .w-18_1 {
        width: 16.2473%;
    }
    .w-11_99 {
        width: 11.9934%;
    }
    .w-t-14 {
        width: 16.1869%;
    }
    .pd-md-30-r {
        padding-right: 30px;
    }
    .pd-md-30-l {
        padding-left: 30px;
    }
    .pd-md-35-r {
        padding-right: 35px;
    }
    .pd-md-40-r {
        padding-right: 40px;
    }
    .pd-md-15-r-l {
        padding-right: 25px!important;
        padding-left: 20px!important;
    }
    .my-md-col-30 {
        width: 25%;
    }
    .my-md-col-20 {
        width: 25%;
    }
    .bigest-size .my-md-col-20 {
        width: 27%;
    }
    .my-md-col-50 {
        width: 50%;
    }
    .bigest-size .my-md-col-50 {
        width: 48%;
    }
    .mg-md-15-l {
        margin-left: 15px;
    }
    .pull-left-md {
        float: left;
    }
    .pull-right-md {
        float: right;
    }
    .not-for-mobile {
        display: block;
    }
    /*END STYLE FOR WIDTH PADDING MARGIN*/
    
    .digital-product-select div.body-types,
    .wide-product-select div.body-types {
        height: 83px;
    }
    /*TOP BLOCK CONTAINER STYLE*/
    
    .container-main-top-block {
        height: 340px;
    }
    .gallery {
        padding-bottom: 10px;
        margin-bottom: 0px;
    }
    .gallery > .row {
        height: 300px;
    }
    .gallery .row_perevorot {
        position: absolute;
        padding-top: 0;
        bottom: 0px;
    }
    .info-block {
        overflow: hidden;
    }
    .info-block .bg-info {
        min-height: 300px;
    }
    /*END TOP BLOCK CONTAINER STYLE*/
    /*FILTER PC STYLE*/
    
    .left-filter {
        width: 11%;
    }
    .right-filter {
        width: 89%;
    }
    .t_switchable:not(.left-filter-switch) {
        width: 9.09%;
        min-width: 89.8px;
    }
    .offset-filt .plot-block>.left-filter:not(.cat-load) {
        height: 90px;
    }
    .photo-mat>.left-filter {
        height: 90px;
    }
    .cont-control>.t_greyblock:not(:last-child) {
        margin-bottom: 0px;
    }
    .t_switchable:nth-child(3n+1){
        padding-left: 5px;
    }
    .header-sizes .t_switchable{
        padding-left: 0;
    }
    .t_switchable.left-filter-switch .t_plot {
        padding-left: 10px!important;
    }
    .t_switchable.left-filter-switch .t_plot .filter-name {
        text-align: left;
    }
    .lam-sra3-block>.left-filter {
        height: 90px;
    }
    .plot-digital-block>.left-filter {
        height: 450px;
    }
    .lam-digital-block>.left-filter {
        height: 180px;
    }
    .banner-print-lam>.left-filter {
        height: 90px;
    }
    .cont-control>.t_greyblock:not(:last-child) {
        margin-bottom: 7.5px;
        padding-bottom: 2.5px;
        position: relative;
        border-bottom: 0.5px solid #ddd;
    }
    .tooltip_img {
        display: block;
        min-width: 240px;
    }
    .show-element .t_switchable {
        width: 91px;
    }
    .show-elements.active .t_plot:before {
        left: 0px;
    }
    /*BUTTON DISABLE INFO*/
    
    #disable-info {
        margin-right: 15px;
        width: 160px;
    }
    #disable-info.btn-gray:focus {
        background-color: #666666;
        border-color: #666666;
    }
    #disable-info.btn-default:focus {
        background-color: #4a76a8;
        border-color: #4a76a8;
    }
    /*END BUTTON DISABLE INFO*/
    /*END FILTER PC STYLE*/
    /*TABLE STYLE*/
    
    #price {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #price table {
        table-layout: auto;
    }
    .name-color,
    .name-print,
    .name_mat,
    .calculate {
        font-size: 14px;
    }
    .time-row>td:first-child small {
        font-size: 12px;
    }
    /*END TABLE STYLE*/
    /*OPTION STYLE*/
    
    .header-opt {
        padding-bottom: 12.5px;
    }
    .cover_vn-block .name-cover {
        padding-bottom: 15px;
    }
    .select-hidden {
        padding-bottom: 0px;
    }
    .parametr-luvers {
        padding-left: 0;
        padding-bottom: 0!important;
    }
    .parametr-luvers .name-cover {
        cursor: default;
        padding-left: 20px;
    }
    div.parametr-luvers.block-plot{
        margin-bottom: 0px!important;
    }
    .luvers-kompl-select {
        padding-left: 30px;
        margin-top: 0;
    }
    .sel-pr>.pw-cont:not(:last-child) {
        margin-bottom: 0;
    }
    .col-print {
        padding-left: 30px;
        width: 6.9%;
    }
    .col-print .chosen-container {
        min-width: 63px!important;
    }
    /*END OPTION STYLE*/
    /*STYLE WIDE*/
    
    .navbarwide .navbarwide-items {
        height: 175px;
        width: 15.571%;
        margin-right: 1.3148%;
        margin-bottom: 0;
    }
    .divider-wide.divider-help {
        height: 0px;
    }
    .navbarwide>.row>.mobile-droped>.navbarwide-items:nth-child(2n) {
        margin-right: 1.3148%;
    }
    .navbarwide>.row>.mobile-droped>.navbarwide-items:last-child,
    .navbarwide>.row>.mobile-droped>.navbarwide-items:nth-child(6n) {
        margin-right: 0;
    }
    /*END STYLE WIDE*/
    /*CALENDARS STYLE*/
    
    .cover_vn-block .name-cover.calend-block-name {
        line-height: 137px;
    }
    /*END*/
    /*ONLY FOR PC*/
    
    .mobile-droped {
        display: block;
        padding-top: 0;
    }
    /*END ONLY FOR PC*/
    /*ANIMATION STYLE*/
    
    .slideMenuDown {
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
    }
    .slideMenuTop {
        -webkit-animation-duration: 150ms;
        animation-duration: 150ms;
    }
    /*END ANIMATION STYLE*/
    /*GALLERY STYLE*/
    
    .galleria.gallery-modal-small {
        height: 304px;
    }
    .galleria.gallery-modal-big {
        height: 650px;
    }
    .brochure-blokpick #blockpic {
        min-height: 200px;
        min-width: 380px;
        max-width: 420px;
    }
    .chosen-container .chosen-results {
        max-height: 260px!important;
    }
    .chosen-disabled,
    .chosen-disabled .chosen-single,
    .chosen-disabled:hover,
    .notactivepw {
        cursor: not-allowed!important;
    }
    .new_td {
        padding: 10px 5px 10px 15px!important;
    }
    .new_select {
        min-width: 75px!important;
    }
    .calculate {
        width: 14.02157%;
    }
    .tooltip_price_srok {
        display: inline-block;
    }
    .selected-show {
        line-height: 28px;
        padding-bottom: 5px;
    }
    /*PRODUCT STYLES*/
    
    .asimetric-div {
        padding-top: 50px;
    }
    .navbarwide .view-select-items {
        height: 290px;
    }
    .digital-product-select .prints-type>.types-prod,
    .wide-product-select .prints-type>.types-prod {
        width: 24.0139%;
    }
    .digital-product-select .prints-type>.types-prod:nth-child(2n):not(:last-child),
    .wide-product-select .prints-type>.types-prod:nth-child(2n):not(:last-child) {
        margin-right: 1.3148%;
    }
    .digital-product-select .prints-type>.types-prod {
        margin-top: 0px;
    }
    .wide-product-select .prints-type>.types-prod:nth-child(4) {
        margin-right: 0!important;
    }
    .wide-product-select .body-types {
        height: 104px;
    }
    .types-prod-2 {
        margin-top: 0px;
        width: 49.3426%;
    }
    .types-prod-3 {
        margin-top: 0px;
        width: 32.4568%;
    }
    .types-prod-1 .top-content-types {
        width: 50%;
    }
    .types-prod-1 .body-types {
        height: auto!important;
        padding-bottom: 12px;
    }
    /*END PRODUCT STYLES*/
}
@media (min-width: 1200px) {
    .plot-digital-block>.left-filter {
        height: 360px;
    }
    .lam-digital-block>.left-filter {
        height: 135px;
    }
    .digital-product-select div.body-types,
    .wide-product-select div.body-types {
        height: 67px;
    }
    .galleria-modal-dialog {
        max-width: 883px;
    }
    /*GALLERY STYLE*/
    
    .galleria.gallery-modal-small {
        height: 389px;
    }
    /*PRODUCT STYLES*/
    
    .wide-product-select .body-types {
        height: 67px;
    }
    /*END PRODUCT STYLES*/
}