<!---------МОДАЛЬНОЕ ОКНО МАТЕРИАЛОВ ПВХ------------->
<div class="modal fade" id="info_material_photo" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Материалы
                </h4>
            </div>
            <div class="modal-body">
                <!--
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-right:0;">
                                        <a href="cside/img/wide.png" class="zoom"><img class="im_z" src="cside/img/wide.png" alt=""></a>
                                        <div class="zoom-block" style="position:relative;z-index:999"></div>
                                    </div>
                                </div>
                            </div>
                -->
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/klasik.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_0" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_0">
                                    <p class="text_head"><strong>Классик</strong></p>
                                    <p class="fz15">
                                        Текстура материала равномерная.<br> Универсальные, подходят для печати любого изображения.<br><br>
                                        Практичны, не боятся воды и царапин.<br><br>
                                        Плотность: 310 г/ м2
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/venecia.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_1">
                                    <p class="text_head"><strong>Венеция</strong></p>
                                    <p class="fz15">
                                        Текстура имитирует художественную штукатурку.<br> Имеют яркую и насыщенную цветопередачу.<br> Рекомендуется для печати изображений фресок и картин.<br><br>
                                        Практичны, не боятся воды и царапин.<br><br>
                                        Плотность: 300 г/ м2
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/polotno.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_2" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_2">
                                    <p class="text_head"><strong>Полотно</strong></p>
                                    <p class="fz15">
                                        Текстура имитирующая холст.<br>
                                        Рекомендуется для печати изображений с живописью, архитектурой и цветами. <br><br>
                                        За счет текстуры практически не заметны швы. Прочны, не боятся воды и царапин.<br><br>
                                        Плотность: 320 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/kist.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_3" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_3">
                                    <p class="text_head"><strong>Кисть</strong></p>
                                    <p class="fz15">
                                        Текстура имитирующая роспись кисти маслом. <br>
                                        Рекомендуется для печати живописи, природы, животных, портретов.<br><br>
                                        Практичны, не боятся воды и царапин.<br><br>
                                        Плотность: 320 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="row tabs-in-modal" style="margin-top:20px;">
                <div class="col-sm-12 col-md-4 gallery-container">
                    <div class="row">
                        <div class="galleria gallery-modal-small">
                            <img src="cside/img/holst/iniy.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="tabs-style-2">
                        <ul class="nav nav-tabs no-mt" role="tablist">
                            <li class="active"><a href="#holst_1_4" role="tab" data-toggle="tab">Описание</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="holst_1_4">
                                <p class="text_head"><strong>Иней</strong></p>
                                <p class="fz15">
                                    Основа состоит из мелких ворсинок.<br> Текстура матовая, имитирует иней или акварельную бумагу.<br>
                                    Универсальные, имеют отличную цветопередачу.<br><br>
                                    Практичны, не боятся воды и царапин.<br><br>
                                    Плотность: 315 г/м<sup>2</sup>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="row tabs-in-modal" style="margin-top:20px;">
                <div class="col-sm-12 col-md-4 gallery-container">
                    <div class="row">
                        <div class="galleria gallery-modal-small">
                            <img src="cside/img/holst/pesok.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="tabs-style-2">
                        <ul class="nav nav-tabs no-mt" role="tablist">
                            <li class="active"><a href="#holst_1_5" role="tab" data-toggle="tab">Описание</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="holst_1_5">
                                <p class="text_head"><strong>Песок</strong></p>
                                <p class="fz15">
                                    Мелкозернистая равномерная текстура, имитирует хаотичное расположение песчинок.<br>
                                    Универсальные, имеют отличную цветопередачу. <br><br>
                                    Практичны, не боятся воды и царапин.<br><br>
                                    Плотность: 320 г/м<sup>2</sup>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/shtukaturka.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_6" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_6">
                                    <p class="text_head"><strong>Штукатурка</strong></p>
                                    <p class="fz15">
                                        Крупная разнородная текстура. <br>
                                        Имеют яркую и насыщенную цветопередачу.<br>
                                        Рекомендуется для печати городских пейзажей, фресок, черно-белых изображений.<br><br>
                                        Практичные, не боятся царапин, легкие в поклейке, скрывает неровности стен.<br><br>
                                        Плотность: 315 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/freska.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_7" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_7">
                                    <p class="text_head"><strong>Фреска</strong></p>
                                    <p class="fz15">
                                        Текстура фактурная, покрыта хаотичными мазками. <br>
                                        Рекомендуется для печати архитектуры, природы, цветов и растений.<br><br>
                                        Плотные и прочные, легкие в поклейке, не боятся воды и царапин, скрывает неровности стен.<br><br>
                                        Плотность: 300 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/derm.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_8" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_8">
                                    <p class="text_head"><strong>Кожа</strong></p>
                                    <p class="fz15">
                                        Матовая текстура, имитирующая необработанную кожу, придает рельефность изображению, делая его более ярким и выразительным.<br>
                                        Универсальные, подходят для печати любых изображений.<br><br>
                                        Практичны, не боятся воды и царапин.<br><br>
                                        Плотность: 320 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/glad.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_8" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_8">
                                    <p class="text_head"><strong>Гладь</strong></p>
                                    <p class="fz15">
                                        Текстура гладкая, ровная. <br>
                                        Универсальные, подходят для печати любых изображений.<br><br>
                                        Практичны, не боятся воды и царапин, легкие в поклейке.<br><br>
                                        Плотность: 315 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/satin.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_9" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_8">
                                    <p class="text_head"><strong>Сатин</strong></p>
                                    <p class="fz15">
                                        Текстура напоминает мятую ткань.<br>
                                        Универсальные, подходят для печати любых изображений.<br><br>
                                        Практичны, не боятся воды и царапин, легкие в поклейке.<br><br>
                                        Плотность: 315 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/latte.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_9" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_8">
                                    <p class="text_head"><strong>Фотообои на флизелиновой основе Latte</strong></p>
                                    <p class="fz15">
                                        Текстура гладкая, ровная, бежевого цвета.<br>
                                        Универсальные, подходят для печати любых изображений.<br><br>
                                        Практичны, не боятся воды и царапин, легкие в поклейке.<br><br>
                                        Плотность: 180 г/м<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
