<!---------МОДАЛЬНОЕ ОКНО СПОСОБЫ НАНЕСЕНИЯ ПВХ------------->
<div class="modal fade" id="info_dpi_photo" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Качества печати</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/uv.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/uv.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_9_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_9_1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text_head"><strong>1400 Латекс</strong></p>
                                            <p class="fz15">
                                                ЭКО печать для наружного и внутреннего применения. Не имеет запаха, совершенно безопасна. <br>Применяется для печати в детские и медицинские учреждения. <br><br>
                                                Тягучесть чернильного пигмента на основе латекса, зарекомендовала себя в печати на пленках для автостайлинга, а насыщенный черный цвет и закрепление чернил на поверхности материала нашли «яркое» применение на просветных пленках типа Backlit<br><br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="fz15">
                                                Печать 1440 х 1200 dpi в 12 проходов <br>
                                                Европейские экологические чернила на основе латекса (120$/литр)<br><br>
                                                <b>HP LATEX 370</b> (1 печатная машина)<br>
                                                РИП ONYX <br>
                                                Размер печатной капли 3-5 pl<br>
                                                Скорость печати 10-15 м2/час<br>
                                                Ширина печати 1600 мм
                                            </p>

                                        </div>
                                        <div class="col-md-3" style="width:20%">
                                            <a href="cside/img/wide_uv.png" class="zoom_uv"><img class="im_z" src="cside/img/wide_uv.png" alt=""></a>
                                            <div class="zoom-block_uv" style="position:relative;z-index:999"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
