<!---------МОДАЛЬНОЕ ОКНО МАТЕРИАЛОВ ПЛЕНКА------------->
<div class="modal fade" id="info_material_film" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Материалы
                </h4>
            </div>
            <div class="modal-body">
                <!--
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-right:0;">
                                        <a href="cside/img/wide.png" class="zoom"><img class="im_z" src="cside/img/wide.png" alt=""></a>
                                        <div class="zoom-block" style="position:relative;z-index:999"></div>
                                    </div>
                                </div>
                            </div>
                -->
                <div class="row" style="margin-top:20px">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/glprof/20.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glprof/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glprof/5.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glprof/VinylHeaderStart.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_1">
                                    <p class="text_head"><strong>Пленка глянцевая Profitape (Китай)</strong></p>
                                    <p class="fz15">
                                        Эконом вариант для наружного и внутреннего применения. <br>
                                        Применяется для временных рекламных объявлений и вывесок. <br><br>
                                        Теряет эластичность при минусовых температурах, при удалении с поверхности – рвется, постоянный липкий клей.<br><br>
                                        Плотность: 104 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,52 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/new.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/21.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/28.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/5.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/6.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/640_640_1_1_1_vinyl_print_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_1_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_1_1">
                                    <p class="text_head"><strong>Пленка глянцевая Ritrama (Европа)</strong></p>
                                    <p class="fz15">
                                        Стандартный вариант для наружного и внутреннего использования. <br><br>
                                        Эластичная, прочная на разрыв, не теряет эластичность при минусовой температуре, постоянный липкий клей.<br><br>
                                        Плотность: 107 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,6 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/matrit/new.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/matrit/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/matrit/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/matrit/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/matrit/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/matrit/5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_3_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_3_1">
                                    <p class="text_head"><strong>Пленка матовая Ritrama (Европа)</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования. <br><br>
                                        Эластичная, прочная на разрыв, не теряет эластичность при минусовой температуре, постоянный липкий клей.<br><br>
                                        Плотность: 107 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,6 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/prit/new.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/prit/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/prit/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/prit/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/prit/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/prit/23.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/prit/IMG_13032017_153549_0.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/prit/prozrP.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_4_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_4_1">
                                    <p class="text_head"><strong>Пленка прозрачная Ritrama (Европа)</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования. <br>
                                        Полностью прозрачная пленка.<br><br>
                                        Эластичная, прочная на разрыв, не теряет эластичность при минусовой температуре, постоянный липкий клей.<br><br>
                                        Плотность: 107 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,6 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/glrit/new.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/lrit/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/lrit/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/lrit/24.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/lrit/29.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/lrit/32.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/lrit/n.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_5_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_5_1">
                                    <p class="text_head"><strong>Пленка легкосъемная Ritrama (Европа)</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования. <br>
                                        Пленка многоразового использования, имеет легкосъемную клеевую основу, не оставляющую следов клея на поверхности.<br><br>
                                        Не устойчива к атмосферным осадкам. При попадании большого количества воды (дождь, снег) пленка может отклеиться.<br><br>
                                        Плотность: 104 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,26 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/8.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/5.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/6.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/black_out/7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_6_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_6_1">
                                    <p class="text_head"><strong>Black Out</strong></p>
                                    <p class="fz15">
                                        Белая самоклеющаяся пленка с черным клеевым слоем, который не пропускает свет.  <br>
                                        Применяется, когда необходима полная непрозрачность окон или поверх другой рекламы.  <br><br>
                                        Эластичная, прочная на разрыв, не теряет эластичность при минусовой температуре, постоянный липкий клей.<br><br>
                                        Плотность: 104 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,6 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/new.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/4.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/5.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/6.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/7.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/july-2015-077-960x720.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/one_way_vision/One-Way-Vision.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_7_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_7_1">
                                    <p class="text_head"><strong>One Way Vision</strong></p>
                                    <p class="fz15">
                                        Специальная перфорированная белая пленка (черная с обратной стороны) для нанесений на прозрачные поверхности. <br>
                                        Пленка пропускает свет в соотношение печатной поверхности к общей - более 50%.<br>
                                        Применятся для нанесений на окна транспортных средств, витрины магазинов, офисных зданий и другие прозрачные поверхности, где необходимо попадание света внутрь помещения.<br><br>
                                        Эластичная, прочная на разрыв, не теряет эластичность при минусовой температуре, постоянный липкий клей.<br><br>
                                        Плотность: 104 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,52 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/film/backlit/new.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/backlit/1.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/backlit/2.jpg" alt="">
                                <!--                            <img src="http://sborka.ua/cside/img/info/film/backlit/3.jpg" alt="">-->
                                <img src="http://sborka.ua/cside/img/info/film/backlit/25.jpg" alt="">
                                <!--                            <img src="http://sborka.ua/cside/img/info/film/backlit/i.jpg" alt="">-->
                                <img src="http://sborka.ua/cside/img/info/film/backlit/backlit-film.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/film/backlit/pet-bt1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#film_8_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="film_8_1">
                                    <p class="text_head"><strong>ПВХ Backlit</strong></p>
                                    <p class="fz15">
                                        ПВХ пленка (без клеевого слоя) для конструкций с внутренней подсветкой. <br>
                                        Применяется для световых установок наружного и внутреннего использования. <br><br>
                                        Эластичная, прочная на разрыв, не теряет эластичность при минусовой температуре, без клеевого слоя.<br><br>
                                        Плотность: 104 г/м<sup>2</sup><br>
                                        Толщина: 80 мкрн<br>
                                        Размеры рулона: 1,27 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
