<div class="modal fade" id="info_dpi" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Качества печати</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <!--                    <a href="cside/img/wide-dpi.jpg" class="zoom"><img class="im_z" src="cside/img/wide-dpi.jpg" alt=""></a>-->
                        <a href="cside/img/wide.png" class="zoom"><img class="im_z" src="cside/img/wide.png" alt=""></a>
                        <div class="zoom-block" style="position:relative;z-index:999"></div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/360.jpg" alt=""  data-big="http://sborka.ua/cside/img/info/prints_big/360.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_1">
                                    <p class="text_head"><strong>360 dpi</strong></p>
                                    <p class="fz15">
                                        ЭКОНОМ печать для наружного применения. Обычное качество для билбордов, бранмауэров…<br>
                                        Применяется для просмотра с расстояния 10-15 метров.<br><br>
                                        Печать 360 х 360 dpi в 2 прохода<br>
                                        Сольвентные чернила (China)<br><br>
                                        <b>LIYU PZR 3204</b> (2 печатные машины)<br>
                                        РИП ONYX <br>
                                        Печатная голова Konica Minolta 512i<br>
                                        Размер переменной капли 30 пкл<br>
                                        Скорость печати 60-80 м2/час<br>
                                        Ширина печати 3200 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/360.jpg" alt=""  data-big="http://sborka.ua/cside/img/info/prints_big/360.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_2_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_2_1">
                                    <p class="text_head"><strong>540 dpi</strong></p>
                                    <p class="fz15">
                                        ЭКОНОМ печать для наружного применения. Улучшенное качество для билбордов, бранмауэров…<br>
                                        Применяется для просмотра с расстояния 5-10 метров.<br><br>
                                        Печать 540 х 480 dpi в 3 прохода<br>
                                        Сольвентные чернила (China)<br><br>
                                        <b>LIYU PZR 3204</b>  (2 печатные машины)<br>
                                        РИП ONYX <br>
                                        Печатная голова Konica Minolta 512i<br>
                                        Размер переменной капли 30 пкл<br>
                                        Скорость печати 40-60 м2/час<br>
                                        Ширина печати 3200 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/720.jpg" alt=""  data-big="http://sborka.ua/cside/img/info/prints_big/720.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_3_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_3_1">
                                    <p class="text_head"><strong>720 dpi</strong></p>
                                    <p class="fz15">
                                        СТАНДАРТНАЯ печать для наружного применения. Обычное качество для ситилайтов, вывесок…<br>
                                        Применяется для просмотра с расстояния 3-5 метров.<br><br>
                                        Печать 600 х 600 dpi в 6 проходов<br>
                                        Сольвентные чернила (Chimigraf)<br><br>
                                        <b>FLORA LJ 320Р</b> (2 печатные машины)<br>
                                        РИП ONYX <br>
                                        Печатная голова Spectra Polaris<br>
                                        Размер переменной капли 15 пкл<br>
                                        Скорость печати 20-30 м2/час<br>
                                        Ширина печати 3200 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/1080.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/1080.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_4_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_4_1">
                                    <p class="text_head"><strong>1080 dpi</strong></p>
                                    <p class="fz15">
                                        СТАНДАРТНАЯ печать для наружного и внутреннего применения. Улучшенное качество для вывесок, плакатов…<br>
                                        Применяется для просмотра с расстояния 1-3 метра.<br><br>
                                        Печать 1080 х 900 dpi в 8 проходов<br>
                                        Лайтсольвентные чернила (Оригинальные) с повышенными требованиями к запаху и экологичности<br><br>
                                        <b>MIMAKI SWG 320s4</b> (2 печатные машины)<br>
                                        РИП ONYX <br>
                                        Печатная голова Ricoh<br>
                                        Размер переменной капли 7-21 пкл<br>
                                        Скорость печати 15-25 м2/час<br>
                                        Ширина печати 3200 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/1440.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/1440.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_5_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_5_1">
                                    <p class="text_head"><strong>1440 dpi</strong></p>
                                    <p class="fz15">
                                        ПРЕМИУМ печать для наружного и внутреннего применения. Обычное качество для плакатов, наклеек…<br>
                                        Применяется для просмотра на расстоянии до метра.<br><br>
                                        Печать 1440 х 1440 dpi в 8 проходов<br>
                                        Экосольвентные чернила (Оригинальные) с повышенными требованиями к запаху и экологичности<br><br>
                                        <b>MIMAKI JV 150</b> (3 печатные машины)<br>
                                        РИП ONYX <br>
                                        Печатная голова Epson DX7<br>
                                        Размер переменной капли 4-35 пкл<br>
                                        Скорость печати 10-15 м2/час<br>
                                        Ширина печати 1600 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/1440.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/1440.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_6_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_6_1">
                                    <p class="text_head"><strong>1440+ dpi</strong></p>
                                    <p class="fz15">
                                        ПРЕМИУМ печать для наружного и внутреннего применения. Улучшенное качество для малых размеров… <br>
                                        Применяется для печати мелких деталей, шрифтов.<br><br>
                                        Печать 1440 х 1440 dpi в 12 проходов UniDirectional (однонаправленная печать) <br>
                                        Экосольвентные чернила (Оригинальные) с повышенными требованиями к запаху и экологичности<br><br>
                                        <b>MIMAKI JV 150</b> (3 печатные машины)<br>
                                        РИП ONYX <br>
                                        Печатная голова Epson DX7<br>
                                        Размер переменной капли 4-35 пкл<br>
                                        Скорость печати 7-9 м2/час<br>
                                        Ширина печати 1600 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/2880.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/2880.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_7_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_7_1">
                                    <p class="text_head"><strong>1440 dpi Фото</strong></p>
                                    <p class="fz15">
                                        ФОТО печать для наружного и внутреннего применения. Фотографическое качество отпечатка.<br>
                                        Применяется для печати репродукции и фотографий, а также достижения максимально возможного качества.<br><br>
                                        Формирование печатного изображения на основе 10 цветов позволяет получить более реалистичный отпечаток (обычно изображение формируется из 4-х основных цветов CMYK).<br><br>
                                        Печать 1400 х 1440 dpi в 12 проходов<br>
                                        Экосольвентные чернила (Оригинальные) с максимальными требованиями к запаху и экологичности<br><br>
                                        <b>EPSON SC-S80610</b> (1 печатная машина)<br>
                                        РИП ONYX <br>
                                        Печатная голова Epson micro PrecisionCore TFP<br>
                                        Размер переменной капли 1,5-30 пкл<br>
                                        Скорость печати 10-15 м2/час<br>
                                        Ширина печати 1600 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/latex.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/latex.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_8_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_8_1">
                                    <p class="text_head"><strong>1440 dpi Латекс</strong></p>
                                    <p class="fz15">
                                        ЭКО печать для наружного и внутреннего применения. Не имеет запаха, совершенно безопасна. <br>Применяется для печати в детские и медицинские учреждения. <br><br>
                                        Тягучесть чернильного пигмента на основе латекса зарекомендовала себя в печати на пленках для автостайлинга, а насыщенный черный цвет и закрепление чернил на поверхности материала нашли «яркое» применение на просветных пленках типа Backlit.<br><br>
                                        Печать 600 х 600 dpi в 10 проходов <br>
                                        Экологически чистые чернила (Оригинальные) на основе латекса <br><br>
                                        <b>HP LATEX 370</b> (1 печатная машина)<br>
                                        РИП ONYX <br>
                                        Печатная голова HP831 Latex<br>
                                        Скорость печати 10-15 м2/час<br>
                                        Ширина печати 1600 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/uv.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/uv.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_9_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_9_1">
                                    <p class="text_head"><strong>1440 dpi УФ + печать белым</strong></p>
                                    <p class="fz15">
                                        УФ печать для наружного и внутреннего применения. Стойкая к истиранию, выцветанию, атмосферным явлениям.<br><br>
                                        Печать 601 х 446 dpi в 4 проходa<br>
                                        Уф-отверждаемые чернила (Nazdar) с повышенными требованиями к запаху и экологичности<br><br>
                                        <b>ARIZONA 350 GT + рулонная опция</b> (2 печатные машины)<br>
                                        РИП ONYX <br>
                                        Печатная голова Toshiba CA4<br>
                                        Размер переменной капли 6-90 пкл<br>
                                        Скорость печати 10-12 м2/час<br>
                                        Ширина печати с рулона 2200 мм <br>
                                        Печатный стол 1250 х 2500 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
