<div class="modal fade in" id="info_material_banner" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    Материалы
                </h4>
            </div>
            <div class="modal-body">
                <!--
                          <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-right:0;">
                                        <a href="cside/img/wide.png" class="zoom"><img class="im_z" src="cside/img/wide.png" alt=""></a>
                                        <div class="zoom-block" style="position:relative;z-index:999"></div>
                                    </div>
                                </div>
                            </div>
                -->
                <div class="row tabs-in-modal" style="style=margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/banner%20laminir2-500x500.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0; transition: none;"><span class="galleria-current">1</span> / <span class="galleria-total">5</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right" style="right: -50px; transition: none;"></div><div class="galleria-image-nav-left" style="left: -50px; transition: none;"></div></div></div><div class="galleria-thumbnails-container galleria-carousel"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 410px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/banner%20laminir2-500x500.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lam/402.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 113px; height: 64px; position: absolute; top: 0px; left: 0px;" width="113" height="64"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lam/baner-reklamowy.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 114px; height: 64px; position: absolute; top: 0px; left: 0px;" width="114" height="64"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lam/banner1.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 184px; height: 64px; position: absolute; top: 0px; left: 0px;" width="184" height="64"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lam/P1020069.JPG" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 85px; height: 64px; position: absolute; top: 0px; left: 0px;" width="85" height="64"></div></div></div><div class="galleria-thumb-nav-right"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_1">
                                    <p class="text_head"><strong>Баннер 440 г/м<sup>2</sup> ламинированный</strong></p>
                                    <p class="fz15">
                                        Эконом вариант для краткосрочного наружного и внутреннего использования.<br>
                                        Применяется для временных рекламных объявлений и вывесок размером до 10 м2.<br><br>
                                        Не прочный на разрыв, остаются заломы при складывании, теряет эластичность при минусовой температуре, не спаивается.<br><br>
                                        Плотность: 440 г/м<sup>2</sup><br>
                                        Толщина: 0,35 мм<br>
                                        Размер рулона: 3,2 х 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/litoy_copy.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0; transition: none;"><span class="galleria-current">1</span> / <span class="galleria-total">3</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right" style="right: -50px; transition: none;"></div><div class="galleria-image-nav-left" style="left: -50px; transition: none;"></div></div></div><div class="galleria-thumbnails-container"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 246px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/litoy_copy.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_440/banery-01.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 96px; height: 64px; position: absolute; top: 0px; left: 0px;" width="96" height="64"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_440/sign.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 85px; height: 64px; position: absolute; top: 0px; left: 0px;" width="85" height="64"></div></div></div><div class="galleria-thumb-nav-right disabled"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_6_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_6_1">
                                    <p class="text_head"><strong>Баннер 400 г/м<sup>2</sup> литой</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования.<br>
                                        Применяется для рекламных объявлений и вывесок размером до 15 м2.<br><br>
                                        Эластичный, прочный на разрыв, заломы разравниваются, не теряет эластичность при минусовой температуре, возможна спайка.<br><br>
                                        Плотность: 400 г/м<sup>2</sup><br>
                                        Толщина: 0,31 мм<br>
                                        Размер рулона: 3,2 х 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/litoy_copy.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0.4;"><span class="galleria-current">1</span> / <span class="galleria-total">3</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right"></div><div class="galleria-image-nav-left"></div></div></div><div class="galleria-thumbnails-container"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 246px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/litoy_copy.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_440/banery-01.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 96px; height: 64px; position: absolute; top: 0px; left: 0px;" width="96" height="64"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_440/sign.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 85px; height: 64px; position: absolute; top: 0px; left: 0px;" width="85" height="64"></div></div></div><div class="galleria-thumb-nav-right disabled"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_1_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_1_1">
                                    <p class="text_head"><strong>Баннер 440 г/м<sup>2</sup> литой</strong></p>
                                    <p class="fz15">
                                        Стандартный вариант для наружного и внутреннего использования.<br>
                                        Применяется для рекламных объявлений и вывесок размером до 20 м2.<br><br>
                                        Эластичный, прочный на разрыв, заломы разравниваются, не теряет эластичность при минусовой температуре, возможна спайка.<br><br>
                                        Плотность: 440 г/м<sup>2</sup><br>
                                        Толщина: 0,35 мм<br>
                                        Размер рулона: 3,2 х 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/litoy_copy.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0.4;"><span class="galleria-current">1</span> / <span class="galleria-total">5</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right"></div><div class="galleria-image-nav-left"></div></div></div><div class="galleria-thumbnails-container galleria-carousel"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 410px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/litoy_copy.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_510/25.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_510/26.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_510/28.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_510/29.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div></div></div><div class="galleria-thumb-nav-right"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_3_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_3_1">
                                    <p class="text_head"><strong>Баннер 510 г/м<sup>2</sup> литой</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования.<br>
                                        Применяется для больших изделий от 10 м2 и если необходимо изделие повышенной прочности.<br><br>
                                        Эластичный, прочный на разрыв, заломы разравниваются, не теряет эластичность при минусовой температуре, возможна спайка.<br><br>
                                        Плотность: 510 г/м<sup>2</sup><br>
                                        Толщина: 0,47 мм<br>
                                        Размер рулона: 3,2 х 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/8.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0.4;"><span class="galleria-current">1</span> / <span class="galleria-total">3</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right"></div><div class="galleria-image-nav-left"></div></div></div><div class="galleria-thumbnails-container"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 246px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/8.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_650/30.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/lit_650/32.jpg" width="77" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" height="77"></div></div></div><div class="galleria-thumb-nav-right disabled"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_6_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_6_1">
                                    <p class="text_head"><strong>Баннер 650 г/м<sup>2</sup> литой (Тент)</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования.<br>
                                        Применяется для навесов, шатров, автомобильных тентов и если необходимо изделие с максимально повышенной прочностью.<br><br>
                                        Эластичный, прочный на разрыв, заломы разравниваются, не теряет эластичность при минусовой температуре, возможна спайка.<br><br>
                                        Плотность: 650 г/м<sup>2</sup><br>
                                        Толщина: 0,55 мм<br>
                                        Размер рулона: 2,5 х 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/mesh_main.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0.4;"><span class="galleria-current">1</span> / <span class="galleria-total">6</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right"></div><div class="galleria-image-nav-left"></div></div></div><div class="galleria-thumbnails-container galleria-carousel"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 492px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/mesh_main.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/mesh/34.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/mesh/35.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/mesh/36.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/mesh/37.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/mesh/38.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 77px; position: absolute; top: 0px; left: 0px;" width="77" height="77"></div></div></div><div class="galleria-thumb-nav-right"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_4_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_4_1">
                                    <p class="text_head"><strong>Баннерная сетка (Mesh)</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования.<br>
                                        Применяется для оформления фасадов больших площадей, декорирования строительных участков транспарантами большого формата. В несколько раз легче баннера.<br> Благодаря ячейкам сетка гасит ветровые нагрузки и способна пропускать до 70% света<br><br>
                                        Эластичная, прочная на разрыв, заломы разравниваются, не теряет эластичность при минусовой температуре, возможна спайка.<br><br>
                                        Плотность: 340 г/м<sup>2</sup><br>
                                        Толщина: 0,4 мм<br>
                                        Размеры рулона: 3,2 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/8.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0.4;"><span class="galleria-current">1</span> / <span class="galleria-total">2</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right"></div><div class="galleria-image-nav-left"></div></div></div><div class="galleria-thumbnails-container"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 164px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/8.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/backlit/234.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 85px; height: 64px; position: absolute; top: 0px; left: 0px;" width="85" height="64"></div></div></div><div class="galleria-thumb-nav-right disabled"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_5_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_5_1">
                                    <p class="text_head"><strong>Баннер 510 г/м<sup>2</sup> литой просветный (Backlit)</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования.<br>
                                        Равномерно рассеивает свет, поэтому применяется при создании конструкций с внутренней подсветкой рекламных изображений или в тех случаях, когда необходимо равномерное рассеивание света. <br>Светопропускающая способность до 37%. Отличительными особенностями материала являются высокая прозрачность ПВХ и улучшенные характеристики лакового покрытия, поэтому изображения отличаются яркостью и насыщенностью света.<br><br>
                                        Эластичный, прочный на разрыв, заломы разравниваются, не теряет эластичность при минусовой температуре, возможна спайка.<br><br>
                                        Плотность: 510 г/м<sup>2</sup><br>
                                        Толщина: 0,43 мм<br>
                                        Размеры рулона: 2,5 * 50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small"><div class="galleria-container notouch galleria-theme-classic" style="width: 371px; height: 389px;"><div class="galleria-stage"><div class="galleria-images" style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;"><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none; z-index: 0; opacity: 0;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div></div><div class="galleria-image" style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 366px; height: 299px; transition: none; z-index: 1;"><div class="galleria-layer" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 2; display: none; width: 366px; height: 299px;"></div><div class="galleria-frame" style="overflow: hidden; position: absolute; top: 0px; left: 0px; z-index: 4; background: rgb(0, 0, 0); display: none;"></div><img src="http://sborka.ua/cside/img/8.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 356px; height: 299px; position: absolute; top: 0px; left: 0px; cursor: pointer;" width="356" height="299"></div></div><div class="galleria-loader" style="display: none; opacity: 0.4;"></div><div class="galleria-counter" style="position: absolute; left: -10000px; opacity: 0.4;"><span class="galleria-current">1</span> / <span class="galleria-total">2</span></div><div class="galleria-image-nav"><div class="galleria-image-nav-right"></div><div class="galleria-image-nav-left"></div></div></div><div class="galleria-thumbnails-container"><div class="galleria-thumb-nav-left disabled"></div><div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;"><div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 164px; height: 64px;"><div class="galleria-image active" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/8.jpg" style="display: block; opacity: 1; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 77px; height: 65px; position: absolute; top: 0px; left: 0px;" width="77" height="65"></div><div class="galleria-image" style="overflow: hidden; position: relative; visibility: visible; width: 77px; height: 64px;"><img src="http://sborka.ua/cside/img/info/banner/backlit/234.jpg" style="display: block; opacity: 0.6; min-width: 0px; min-height: 0px; max-width: none; max-height: none; transform: translate3d(0px, 0px, 0px); width: 85px; height: 64px; position: absolute; top: 0px; left: 0px;" width="85" height="64"></div></div></div><div class="galleria-thumb-nav-right disabled"></div></div><div class="galleria-info" style="position: absolute; left: -10000px; display: none;"><div class="galleria-info-text"><div class="galleria-info-title" style="display: none;"></div><div class="galleria-info-description" style="display: none;"></div></div><div class="galleria-info-link"></div><div class="galleria-info-close"></div></div><div class="galleria-tooltip" style="opacity: 0;"></div></div></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_7_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_7_1">
                                    <p class="text_head"><strong>Баннер 440 г/м<sup>2</sup> литой светонепроницаемый (Blockout)</strong></p>
                                    <p class="fz15">
                                        Для наружного и внутреннего использования.<br>
                                        Двусторонний материал с блокирующим слоем внутри, благодаря которому изображения выглядят насыщенными и яркими с двух сторон, не перебиваясь друг на друга.<br>
                                        Применяется для изготовления рекламной продукции двустороннего обзора – перетяжек, транспарантов, двусторонних плакатов и висячих флагов.<br><br>
                                        Эластичный, прочный на разрыв, заломы разравниваются, не теряет эластичность при минусовой температуре, возможна спайка.<br><br>
                                        Плотность: 440 г/м<sup>2</sup><br>
                                        Толщина: 0,35 мм<br>
                                        Размеры рулона: 3,2*50 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>