<!---------МОДАЛЬНОЕ ОКНО МАТЕРИАЛОВ ПВХ------------->
<div class="modal fade" id="info_material_pvh" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Материалы
                </h4>
            </div>
            <div class="modal-body">
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/fullsize_distr.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/pvh/12.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/pvh/13.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/pvh/15.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/pvh/18.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/pvh/19.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/info/pvh/4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#pvh_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="pvh_1">
                                    <p class="text_head"><strong>ПВХ</strong></p>
                                    <div class="clearfix">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <p class="fz15">
                                                    ПВХ (поливинилхлорид) – пластик белого цвета. Универсальный материал, которому можно придать любую форму. С помощью планшетного плоттера можно вырезать изделия любого размера и формы. Применяется для производства информационных щитов, стендов и штендеров, а также в качестве отдельных элементов декора. <br><br>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <p class="fz15">
                                                    Стойкий к влаге и скачков температуры воздуха, а УФ чернила не смываются водой, или бытовыми чистящим средствами.<br><br>
                                                    Толщина: 1 мм, 2 мм, 3 мм, 4 мм, 5 мм<br>
                                                    Размер листа: 1,22 * 2,44 м
                                                </p>
                                            </div>
                                        </div>
                                        <!--
                                                                                    <div class="col-md-3" style="width:20%">
                                                                                       <div class="row">
                                                                                            <a href="cside/img/wide_uv.png" class="zoom_uv"><img class="im_z" src="cside/img/wide_uv.png" alt=""></a>
                                                                                            <div class="zoom-block_uv" style="position:relative;z-index:999"></div>
                                                                                        </div>
                                                                                    </div>
                                        -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
