<!---------МОДАЛЬНОЕ ОКНО СПОСОБЫ НАНЕСЕНИЯ ПВХ------------->
<div class="modal fade" id="info_dpi_pvh" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Качества печати</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12 col-md-4">
                        <div class="overlay-container">
                            <!--                        <div class="galleria gallery-modal-small">-->
                            <img src="http://sborka.ua/cside/img/info/prints/uv.jpg" alt="" data-big="http://sborka.ua/cside/img/info/prints_big/uv.jpg">
                            <!--                       </div>-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#banner_print_9_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="banner_print_9_1">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <p class="text_head"><strong>1440 dpi УФ + печать белым</strong></p>
                                            <p class="fz15">
                                                УФ печать для наружного и внутреннего применения. Стойкая к истиранию, выцветанию, атмосферным явлениям.<br><br>
                                                Печать 601 х 446 dpi в 4 проходa<br>
                                                Уф-отверждаемые чернила (Nazdar) с повышенными требованиями к запаху и экологичности<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="fz15">
                                                <b>ARIZONA 350 GT + рулонная опция</b> (2 печатные машины)<br>
                                                РИП ONYX <br>
                                                Печатная голова Toshiba CA4<br>
                                                Размер переменной капли 6-90 пкл<br>
                                                Скорость печати 10-12 м2/час<br>
                                                Ширина печати с рулона 2200 мм <br>
                                                Печатный стол 1250 х 2500 мм
                                            </p>

                                        </div>
                                        <div class="col-md-3" style="width:20%">
                                            <a href="cside/img/wide_uv.png" class="zoom_uv"><img class="im_z" src="cside/img/wide_uv.png" alt=""></a>
                                            <div class="zoom-block_uv" style="position:relative;z-index:999"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
