<!---------МОДАЛЬНОЕ ОКНО МАТЕРИАЛОВ ПВХ------------->
<div class="modal fade" id="info_material_holst" tabindex="-1" role="dialog" aria-hidden="true">
    <!--<script src="http://sborka.ua/cside/plugin/fotorama/fotorama.js"></script>-->
    <div class="modal-dialog modal-info-container new-head-modal modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_new" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Материалы
                </h4>
            </div>
            <div class="modal-body">
                <!--
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-right:0;">
                                        <a href="cside/img/wide.png" class="zoom"><img class="im_z" src="cside/img/wide.png" alt=""></a>
                                        <div class="zoom-block" style="position:relative;z-index:999"></div>
                                    </div>
                                </div>
                            </div>
                -->
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="cside/img/holst/holst_sint_mat.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_2" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_2">
                                    <p class="text_head"><strong>Холст синтетический Matt Pure polyester матовый 240 г/м<sup>2</sup></strong></p>
                                    <p class="fz15">

                                        Широкоформатный синтетический холст белого цвета с односторонним глянцевым покрытием.<br> Основа этого холста – полиэстеровая нить.<br>
                                        В сравнении с натуральной нитью (лен, хлопок), синтетическая нить имеет ряд преимуществ:<br>
                                        - отличается повышенной прочностью;<br>
                                        - устойчивее к воздействию влаги и перепаду температур;<br>
                                        - отличается повышенной белизной.<br><br>
                                        Используется для вывода фотографий, произведений любительского творчества и профессионального современного искусства, а также для производства разнообразных элементов интерьерного дизайна и выставочного оформления.<br><br>
                                        Плотность: 240 г/м<sup>2</sup><br>
                                        Размеры рулона: 1,52 * 30 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/holst/2.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/holst/holst_nat_mat.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_1" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_1">
                                    <p class="text_head"><strong>Холст натуральный Matt Pure cotton матовый 340 г/м<sup>2</sup></strong></p>
                                    <p class="fz15">
                                        Натуральный глянцевый хлопковый холст со специальным покрытием, адаптированным для печати экосольвентными, латексными и УФ чернилами. Холст представляет собой очень плотный материал с мелкофактурной поверхностью, имитирующей художественное тканное полотно. Специальное покрытие обеспечает высокую степень глянцевого блеска, превосходную цветопередачу и отличную четкость, и контрастность изображения. Прочный на разрыв материал позволяет оформлять картины на подрамник, при этом холст не меняет своих заявленных свойств, не провисает и не рвется.<br><br>
                                        Плотность: 340 г/м<sup>2</sup><br>
                                        Размеры рулона: 1,52 * 30 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabs-in-modal" style="margin-top:20px;">
                    <div class="col-sm-12 col-md-4 gallery-container">
                        <div class="row">
                            <div class="galleria gallery-modal-small">
                                <img src="http://sborka.ua/cside/img/info/holst/3.jpg" alt="">
                                <img src="http://sborka.ua/cside/img/holst/holst_nat_gl.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="tabs-style-2">
                            <ul class="nav nav-tabs no-mt" role="tablist">
                                <li class="active"><a href="#holst_1_3" role="tab" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="holst_1_3">
                                    <p class="text_head"><strong>Холст натуральный Gloss Pure cotton глянцевый 340 г/м<sup>2</sup></strong></p>
                                    <p class="fz15">
                                        Холст - плотный фактурный материал с поверхностью, имитирующей художественное полотно. Холст имеет натуральную тканевую основу - 100% хлопок, покрытую специальным слоем, позволяющим осуществлять высококачественную широкоформатную экосольвентную, латексную и УФ печать. Прочный на разрыв материал позволяет оформлять картины на подрамник, при этом холст не меняет своих заявленных свойств, не провисает и не рвется.<br><br>
                                        Плотность: 340 г/м<sup>2</sup><br>
                                        Размеры рулона: 1,52 * 30 м
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
